.conference-page{
    .conference-header{
        min-height: 4.90rem;
        background-color: #FFFFFF;
        color: #4272C1;
        padding: 0 0.625rem;
        width: 100%;
        user-select: none;
        z-index: 999;
        position: relative;
        .banner-content {
            display: flex;

            .title {
                font-size: 1.5rem;
                margin: auto 0;

                .sub-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .logo {
                background: url('../../../../assets/sm-TPMG-banner-logo.png') no-repeat;
                height: 5.625rem;
                width: 5.625rem;
                margin: 1.25rem 0.5rem 1.25rem 0;
                background-position: center;
            }
        }
        .links {
            margin-left: -2rem;
            padding: 0.5rem 0 3rem;

            ul {
                list-style: none;
                padding: 0;

                li {
                    display: inline-block;
                    padding: 0 0.5rem;

                    .help-link {
                        color: #006ba6;
                    }

                    .sign-off {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .video-conference-container{
        height: calc(100vh - 130px);
        .video-conference{
            height: 100%;
            background: #000000;
            display: flex;
            .button-container{
                width: 4rem;
                background: #323232;
                height: 100%;
            }
            .stream-container{
                width: calc(100% - 4rem);
                height: 100%;
                position: relative;
                .self-view{
                    background: red;
                    position: absolute;
                    height: 7rem;
                    width: 10rem;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        .conference-details{
            height: 100%;
            background: #FFFFFF;
            .clinician-information{
                background: #F7F7F7;
                min-height: 10rem;
                padding: 1rem;
                border: solid 1px #CFCFCF;
                border-width: 1px 0 1px 0;
                .leave-button{
                    background: #9D291F;
                    color: #FFFFFF;
                    font-weight: 500;
                    width: 100%;
                    font-size: 0.91rem;
                }
                .visit-details{
                    p{
                        font-size: 1.45rem;
                    }
                    .clinician-info{
                        font-weight: bold;
                    }
                }
            }
            .participants-information{
                padding: 1rem;
                .header{
                    font-size: 1.25rem;
                    font-weight: 500;
                }
                .participant-details{

                }
            }
        }
    }
}