/* normalize.css */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}

a {
	text-decoration: none;
}
/* normalize.css END */

button {
	/* Setting sentence Case on all CTA buttons - step 1 of 2 */
	text-transform: lowercase; 
}

button:first-letter {
	/* Setting sentence Case on all CTA buttons - step 2 of 2 */
	text-transform: uppercase; 
}

html {
	font-size: 62.5%; /* resets 1 rem to 10px */
		-webkit-user-select: none;
}

body {
	font-size: 16px;
	line-height: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #3E3E40;
	background-color: #303A48;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

h2 {
	font-size: 17px;
	font-weight: bold;
}

h3 {
	font-weight: bold;
	margin-bottom: 4px;
}

p {
	font-size: 15px;
}

a:link,
a:visited {
	color: #1885F2;
}

strong {
font-weight: bold;
}

.header-title,
.scrollup,
.button-close {
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
}

.header {
	width: 100%;
	height: 39px;
	/*z-index: 1000;*/
	border-bottom: 1px solid #76171B;
	background-color: #AB2328;
	padding-top: 5px;
	text-align: center;
}

.header-title {
	display: inline-block;
	margin-top: 3px;
	content: "";
	width: 192px;
	height: 31px;
	background-position: 0 0;
}

.scrollup {
	position:fixed;
	right:12px;
	bottom: 12px;
	/*z-index: 1000;*/
	display:none;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(20,30,40,.20);
	border-radius: 5px;
	background-color: rgba(20,30,40,.3);
	background-position: -9px -134px;
	content: "";
}

.icon-logout{
	margin-left: -1px;
	margin-top: 1px;
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-size: 240px;
	background-position: -213px -81px; 
	opacity: .8;
}

.main-window {
	background-color: #F1F2F2;
	position: absolute;
	top: 0;
	min-height: 468px;
	width: 100%;
}


.btn-nav {
	/*z-index: 2000;
	*/display: inline-block;
	padding-right: 7px;
	padding-left: 7px;
	width: 40px;
	height: 34px;
	border-width: 0;
	border-color: rgba(0,0,0,.25);
	border-radius: 4px;

	background-image: -webkit-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -moz-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -o-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -ms-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);

	-webkit-box-shadow: rgba(0, 0, 0, 0.449219) 0 2px 1px -1px inset, rgb(0, 0, 0) 0 0 1px 0 inset, rgba(255, 255, 255, 0.167969) 0 1px 0 0;
	text-shadow: rgba(0, 0, 0, 0.347656) 0 -1px 0;
	font-size: 16px;
	line-height: 15px;
	-webkit-user-select: none;
}

.btn-logout {
	position: absolute;
	right: 5px;
}

.page-content {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	background-color: #fff;
	position:relative;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 5px rgba(0,0,0, .4);
	min-width: 280px;
}

.hideMe {
	visibility:hidden;
}

.showMe {
	visibility: visible;
}

footer {
	color: #676767;
	min-width: 300px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
}

footer p {
	font-size: 13px;
	line-height: 16px;
	text-shadow: 0 1px 0 white;
}

.btn-full-site {
	margin-top: 8px;
	margin-bottom: 10px;
	padding: 8px 12px 9px 12px;
	border: solid 1px rgba(255,255,255, .5);
	border-radius: 4px;
	background-color: #FBFBFB;
	box-shadow: inset 0 0 2px rgba(0,0,0,.4);
	color: #717174;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff ;
	font-size: 14px;
	font-weight: bold;
}

.well {
	margin-right: -5px;
	margin-bottom: 10px;
	margin-left: -5px;
	padding: 10px;
	min-height: 20px;
	border-radius: 3px;
	background-color: #F6F7F7;
	box-shadow: inset 0 0 3px hsla(0,0%,0%, .25);
	font-size: 15px;
}

.well p {
	font-size: 15px;
	line-height: 19px;
	padding-bottom: 9px;
}

/* - - - - - - - - MODALS - - - - - - - - */

.modal {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	z-index: 3000;
	display: none;
}

.modal-window {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	border-radius: 4px;
	padding: 10px;
	margin-top: 25px;
	background-color: #E7E7E7;
	box-shadow:
		0 0 0 1px #F1F1F1,
		0 0 0 2px #C0C0C0,
		0 0 0 6px white,
		0 1px 9px 6px rgba(0,0,0,.8);
}

.modal-window .button-close {
	width: 30px;
	height: 28px; 
	float: right;
	border: solid 1px #ffffff;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.5) inset;
	border-radius: 3px;
	margin-right: -5px;
	margin-top: -5px;
	background: #5A5D5F url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
	background-position: -149px -80px;
	opacity: 1;
}

.modal-window h1 {
	margin-left: -10px;
	padding-left: 10px;
	margin-right: -10px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin-bottom: 10px;
		box-shadow:
		0 1px 0 #C0C0C0,
		0 2px 0 white;
}

.modal-window p {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 8px;
}

.modal-window button {
	-webkit-font-smoothing: antialiased; /* desktop browsers only */
	font-weight: bold;
	height:auto;
	width: 270px;
	font-size: 18px;
	padding: 8px 12px 8px 11px;
	border: solid 2px #ADADAD;
	border-radius: 6px;
	text-align: center;
	margin-top: 8px;

	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);

	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	color: white;
	border: solid 2px #404040;
}

.modal-button a {
	color: inherit;
}

.modal-window .disclaimer {
	font-size: 13px;
	line-height: 15px;
	margin-top: 15px;
	padding-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #C0C0C0;
}

.app-lockup {
	-webkit-tap-highlight-color:transparent;
	padding-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;  
}

.app-lockup p {
	-webkit-tap-highlight-color:transparent;
	font-weight: bold;
	padding-top: 20px;
		font-size: 20px;
	line-height: 18px;
}

#app-alert .app-icon {
	-webkit-tap-highlight-color:transparent;
	float: left;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
	background-position: 0 -40px;
	width: 72px;
	height: 78px;
	margin-left: 6px;
	margin-right: 12px; 
}

#logout-alert {
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

.modal-window .button-primary {
	border: solid 2px #404040;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.modal-window .button-secondary {
	color: #656565;
	text-shadow: 0 1px 0 rgba(255,255,255,.75);
	border-color: #BABABA;

	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: -o-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
}

.modal-window input:required {
	background-color: white;
}

/* - - - - - - - - Login Form - - - - - - - -  */

::-webkit-input-placeholder {
	color: rgb(180,180,180);
}

.form-block {
	text-align: right;
	margin-left: -5px;
	margin-right: -5px;
}

.form-block li {
	margin-top: 5px;
	margin-bottom: 0;
	padding: 5px;
	border-radius: 4px;
	text-shadow: 0 1px 0 white;
	font-size: 17px;
}

.form-block input {
font-size: 17px;
height:20px;
padding:5px 2px 5px 4px;
}

.form-block li label {
		margin-top: 8px;
	margin-right: 10px;
	line-height: 32px;
}

.form-block li input {
	margin-top: -3px;
}

.form-block button {
	margin-left: 5px;
	margin-right: 5px;
}

#last_name {
	width:155px;
}

.guest #last_name {
	width:100px;
}

.form-focus {
	background-color: #1885F2;
	color: white;
}

.form-focus label {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.error {
	background-color: #B31A99;
	color: white;
}

.error label {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.localfailmessage {
	margin-top: 5px;
	color: white;
	background-color: rgba(0,0,0,.6);
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	text-shadow: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-left: -5px;
	margin-right: -5px; 
	margin-bottom: -5px;
	border-radius: 0 0 4px 4px;
}

.globalfailmessage {
	color: white;
	background-color: #B31A99;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
	text-shadow: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	margin-left: -10px;
	margin-right: -10px; 
	border-radius: 0;
}

#mrn {
width:108px;
}

#birth_month,
#birth_day {
width: 30px;
}

#birth_year {
	width: 50px;
}

/* - - - - - - - - Page Content - - - - - - - - */

.intro {
	display: table;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

.intro .pic-frame {
	margin-left: 10px;
	float: right;
	padding: 3px;
	border-radius: 2.5px;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .35);
	background-color: white;
}

.intro .pic-frame .pic {
	width: 120px;
	height: 78px;
	overflow-y: hidden;
}

.pic img {
	width: 100%;
}

.intro h1 {
	margin-bottom: 8px;
	font-size: 22px;
}

.intro p {
	font-size: 16px;
	line-height: 19px;
}

.instructions h2 {
	color: #7C7D80;
	text-shadow: 0 1px white;
	font-size: 17px;
	line-height: 14px;
	padding-bottom: 4px;
}

ol.instructions {
	counter-reset: li; /* Initiate CSS counter */
}

ol.instructions > li:before {
	font-size: 22px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	color: #7b7c7f;
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	width: 30px;
	height: 30px; 
	float: left; 
	border: solid 1px #ffffff;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.2) inset;
	border-radius: 3px;
	margin-right: 8px;
	background-color: #f1f1f1;
	text-shadow: 0 1px 0 white;
}

.instructions li {
	box-sizing: border-box;
	font-size: 15px;
	line-height: 15px;
	margin-top: 6px;
	padding-top: 6px;
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #D3D3D3;
	display: block; 
	min-height: 42px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -10px;
	margin-right: -10px;
}

.instructions .img-connection{
	width: 80px;
	height: 33px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
	background-position: -150px -40px;
	float: right;
	margin: 0 0 -3px 10px;
}

.button-get-app {
	margin-top: 5px;
	float: right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #616161;
	border: none;
	border-top: solid 1px white;
	-webkit-box-shadow: 0 0 0 1px #ADADAD;
	box-shadow: 0 0 0 1px #ADADAD;
	background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: -moz-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: -ms-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	padding: 2px 10px 3px 10px;
	border-radius: 2px;
	text-shadow: 0 1px 0 white;
	margin-left: 6px;
}

.button-main {
	display: table;
	margin-bottom: 12px;
	padding: 8px 62px;
	width: 100%;
	border: solid 2px #404040;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);

	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

/* - - - - - - - - Visits - - - - - - - - */

.visits h1 {
	color: #7C7D80;
	text-align: center;
	margin-bottom: 8px;
	margin-top: -2px;
}

.alert {
	-webkit-tap-highlight-color:transparent;
	font-size: 15px;
	line-height: 18px;
	color: #7E5829;
	margin-right: -5px; 
	margin-bottom: 10px;
	margin-left: -5px;
	padding: 10px 20px 10px 10px;
	min-height: 36px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px #F4D96D;
	background-color: #FFF08D;
	position: relative;
}


.alert.hideable:after {
	content: "";
	width: 16px;
	height: 18px; 
	 position: absolute; 
	right: 3px;
	top: 3px;
	margin-left: 2px;
	margin-bottom: 2px;
	background-size: 240px;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -188px -78px;
}

.alert-time-image {
	float: left;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 150px;
	background-position: -50px -24px;
	width: 38px;
	height: 50px;
	margin-right: 5px;
	margin-left: -3px;
	margin-top: -6px;
}

.alert.hero {
	padding: 30px 10px;
}

.no-visits-image {
	float: left;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
	background-position: -80px -40px;
	width: 60px;
	height: 81px;
	margin-right: 8px;
	margin-left: -2px;
	margin-top: -10px;
}

.alert-logout-image {
	float: left;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 240px;
	background-position: -80px -125px;
	width: 60px;
	height: 81px;
	margin-right: 4px;
	margin-top: -2px;
}

.patient .meeting h2 {
	margin: 2px 0 10px 0;
	padding-top: 3px;
	padding-bottom: 7px;
 	box-shadow:
	0 -1px 0 white,
	0 -2px 0 #D9D9D9,
	0 1px 0 #D9D9D9,
	0 2px 0 white;
	color: #7C7D80;
	text-align: center;
	font-weight: normal;
}

.meeting .guests {
	margin-top: 11px;
}

.button-launch-visit {
	float: right;
	margin: auto;
	padding: 6px 4px;
	width: 154px;
	border: solid 2px #404040;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -ms-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);
	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0);
}

.button-launch-visit-pg {
	float: right;
	margin: auto;
	padding: 6px 4px;
	width: 154px;
	border: solid 2px #404040;
	border-radius: 6px;
	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -ms-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);
	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0);
}

.provider .button-launch-visit {
	float: none;
	display: block;
	width: 200px;
}

.patient .well p,
.patient .well ul{
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 8px;
	padding-right: 8px;
}

.patient .pic-frame {
	float: left;
	margin-right: 10px;
	padding: 3px;
	border-radius: 2.5px;
	background-color: white;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .35);
}

.patient .pic-frame .pic {
	width: 65px;
	height: 78px;
	overflow-y: hidden;
}

.patient .time {
font-size: 16px;
line-height: 16px;
padding-bottom: 3px;
color: #3E3E40; 
}

.patient .host-name {
	font-weight: bold;
	font-size: 17px ;
	padding-bottom: 7px;
}

.patient .button-launch-visit {
	float: none;
	width: 150px;
}

.patient .meeting .additional-participants {
	margin-top: 12px;
	padding-top: 5px;
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #D8D8D8;
	font-size: 15px;
	line-height: 18px;
}

.patient .meeting .additional-participants li {
	 display: inline; 
}

.patient .meeting .additional-participants li:not(:last-child):not(:first-child):not(.section):after {
	content: "; ";
}

.patient .meeting .additional-participants .section {
font-weight: bold;
}

.hide-me {
	display: none;
}

.visit-collapsible {
	-webkit-tap-highlight-color:transparent;
	position: relative;
	overflow: hidden;
	height: 20px;
	-webkit-transition: height .5s;
}

.visit-collapsible:after,
.visit-expanded:after {
	content: "▼";
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 7px;
	width: 26px; 
	background-color: rgba(255,255,255,.7);
	position: absolute;
	border-radius: 3px 0 0 3px;
	line-height: 10px;
	text-align: center;
	right: 0;
	bottom: 7px;
	color: #C7C7CE;
	font-size: 16px;
	text-shadow: #ffffff 0 1px 0;
	border: 1px solid #E3E3EA;
}

.visit-expanded:after{
	content: "▲";
	padding-top: 5px;
	padding-bottom: 8px;
	border-right: 1px solid hsla(0,0%,0%, .15);
}

.visit-expanded {
	 box-shadow:
	 inset 0 0 4px hsla(0,0%,0%, .25),
	 inset 0 0 0 1px hsla(0,0%,0%, .25); 
}

.visit-module {
	margin-left: -8px;
	margin-right: -8px;
}

.visit-module,
.visit-module p {
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 0;
}

.visit-module h2 {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #7C7D80;
	margin-right: 10px;
	float: left;
	text-align: right;
	width: 28%;
}

.visit-module .data {
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.visit-expanded .visit-module .data:not(:last-of-type) {
	box-shadow:
		0 1px 0 #E5E5E5, 
		0 2px 0 white;
}

.visit-module ul {
	clear: both;
		display: table-cell;
}
.visit-module li {
	display: inline-block;
}

.visit-module li:after {
	content: "; ";
}


.visit-module .scheduled-time {
font-weight: bold;
color: #3E3E40;
}

.visit-expanded .visit-module .scheduled-time {
color: #7C7D80;
} 

.visit-expanded .patient-name {
	font-weight: bold;
}


.visit-collapsible .button-launch-visit {
	visibility: hidden;
}
.visit-expanded .button-launch-visit {
	visibility: visible;
}

.mobile-landing-page .button-main {
	padding: 12px 20px;
	margin-top: 18px;
}

/* Terms and Conditions page */

.legal {font-size: 14px;}

.legal p,
.legal h1,
.legal h2 {margin-bottom: 5px;}

/* Smartphones (landscape) ----------- */
@media only screen and (orientation: landscape) {

	.provider .button-launch-visit {
		 width: 260px; 
	}

	.btn-logout {
	width: 60px;
	}
}