/* =============  @ HELPER CLASSES  ================ */

.ir 			{ display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }
.hidden 		{ display:none; visibility:hidden; } 
.visuallyhidden { position:absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }
.invisible 		{ visibility: hidden; }
.align-right 	{ text-align:right; }
.align-left		{ text-align:left; }

/* =============  @ CLEARFIX ================ */

#container-primary:after, #container-main:after, #content-block:after, #footer-page:after,#nav-user:after,
nav:after, header:after, hgroup:after, ul:after, ol:after,dl:after,
.clearfix:after, .dialog-content:after, .dialog-question:after, .dialog-action:after, #landing-portal-ready:after, .form-block li:after
{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#container-primary, #container-main, #content-block, #footer-page,#nav-user,
nav, header, hgroup, ul, ol, dl,
.clearfix, .dialog-content, .dialog-question, .dialog-action 
{ display: inline-block; }

#container-primary, #container-main, #content-block, #footer-page,#nav-user,
nav, header, hgroup, ul, ol, dl,
.clearfix, .dialog-content, .dialog-question, .dialog-action 
{ display: block; }

/* =============  @ STRUCTURE  ================ */

body								{font-size:77%; font-family: Arial, sans-serif;line-height:1.35em;}
a									{text-decoration:none;outline:none;}
input								{outline:none;}
/* Primary Container */
#container-primary					{text-align: left;width: 950px;margin: 0 auto;padding:5px;}

#header-main						{height:76px; display:block;margin:0 0 5px 0;}
#header-main h1						{font-size:24px;font-weight:normal;padding:15px 0 5px 10px;}
#header-main h2						{font-size:14px;font-weight:normal;padding:0 0 0 10px;}

#container-main						{}
.header-inner					{display:block;height:25px;}
.button							{border:1px solid;font-size:11px;margin:0 5px 0 0; padding:5px; /* height:24px; */cursor:pointer;outline:none;zoom:1;}
.note							{font-size:11px;}

#sidebar-main						{float:left;display:block;width:164px;}
#sidebar-main h1				{padding: 15px 35px 5px 8px; font-size:14px;color:#BC715E;font-weight:normal;border:1px solid #DEDFD9; border-width:0 0 1px 0}
#sidebar-main h2				{font-size:12px; line-height:1.3em; font-weight:normal;border:solid;border-width:0 0 1px 0; cursor:pointer;}
#sidebar-main h2.show 			{border-width:0;}
#sidebar-main h2 span			{display:block; padding:5px 35px 5px 8px; background:url(../../../images/global/sprite-bg-side-nav.png) no-repeat 150px -90px;}
#sidebar-main h2.show span		{background-position: 150px 11px;}
#sidebar-main h3				{margin:8px;font-size:12px;font-weight:normal;}
#sidebar-main ul				{margin:0; padding:0 8px 8px 8px;list-style-type:none;}
#sidebar-main li				{margin:0 0 8px 0;font-size:11px;font-weight:bold; line-height:1.3em;}
#sidebar-main ul ul				{padding:0;margin-top:4px}
#sidebar-main ul ul	li			{margin:0 0 2px 0;font-size:11px;font-weight:normal;}
#sidebar-main p 				{margin:0 8px 8px 8px;padding:8px 0;border:dotted;border-width:1px 0 0 0; font-size:11px; line-height:1.3em;}
.sidebar-nav-wrap 				{border-bottom:1px solid #DFDED9;}

#content-main						{float:right;display:block;width:785px;min-height:500px; height:auto !important; height:500px;position:relative;padding:0 0 100px;}

#nav-user						{display:block;font-size:10px;line-height:1em; float:right;}
#nav-user ul					{float:right; margin-bottom:5px;}
#nav-user li					{display:block;float:left;border:solid;border-width:0 1px 0 0;margin:5px 0;padding:0 5px;}
#nav-user a						{}
#nav-user .last					{border:none;}
#nav-user .button				{clear:both; float:right; line-height:25px; padding:0 8px;}
.intro {
  margin:0 0 25px;
  padding:0 0 0 20px;
}
.intro-image					{float:right;margin:5px 0 15px 15px;}
.page-title						{font-size:24px;font-weight:normal;padding:0 0 0 20px;margin:20px 0 25px 0;}
.login							{padding:0 0 0 20px;margin:0 0 25px 0;}
.login a						{padding:0 5px; line-height:25px; display:inline-block;}
#loginConsent                   {display:none;}

#nav-tabs						{display:block;font-size:12px;margin:0 0 0 7px;font-weight:bold;letter-spacing:.07em}
#nav-tabs li					{float:left;display:block;margin:0 2px 0 0;}
#nav-tabs a						{padding:0 10px;line-height:2.5em;display:block;}
#nav-tabs .alt					{margin:0;}

#content-block					{margin:0 0 10px 7px;border:solid;border-width:1px;}
#content-block p 				{margin:20px 35px;}
#content-block table			{width:100%;}
#content-block th				{font-weight:normal;height:30px;line-height:30px;padding:0 0 0 5px;}
#content-block td 				{line-height:30px;padding:0 0 0 5px;vertical-align:middle;}
#content-block td p 			{max-width:150px;width:auto !important;width:150px;margin:0;}
#content-block .centered		{text-align:center;}
#content-block h4.centered		{margin:45px 0 10px;font-size:18px;}
#content-block .tall td 		{vertical-align:top;line-height:1em;padding:6px 3px;}
#content-block .portrait		{float:left;margin:0 8px 0 4px;}

.list-setup						{text-align:center;margin:25px 0 45px;}
.list-setup	li					{display:inline;margin:0 3px;}
.list-setup a					{padding:5px 10px;}

#content-block .edit,
#content-block .delete			{display:block;width:30px;height:25px;text-indent:-9999em;}

#content-block .no-data			{text-align:center;padding:50px 0;font-weight:bold;font-size:12px;}

.form-block						{list-style-type:none;margin:0 0 5px 20px;width:390px;float:left;}
.form-block li					{padding:5px 0; width:100%;}
.form-block label				{width:156px;float:left;font-weight:bold; padding-top:5px;}
.form-block input				{width:216px;font-size:11px; border:1px solid #c0c0c0; padding:4px 2px; margin-left:6px}
.form-block .date,
.form-block .time				{width:170px;}
.date-icon,
.time-icon						{display:inline-block;text-indent:-999em;width:22px;height:22px;zoom:1;}
.form-block select				{width:200px;}
.form-block .disabled			{}

.form-block .textarea-block		{border:1px solid #ccc; padding:0;}
.textarea-block textarea 		{width:98%; height:183px; padding:5px 0 0 5px; margin:6px 0 14px 0; border:1px solid #ccc; line-height:1.3em;}
.textarea-block h4				{color:#BC715E; line-height:30px; size:12px; font-weight:normal; background:#E2EAED; padding:0 5px;}

.submit-block					{clear:both;list-style-type:none;margin:0 0 25px 20px;}
#content-block .submit-block p 	{margin:0 35px 0 0;display:block;float:right;width:300px;line-height:25px;}

/* special form block styles */
.form-block .birth_month	{width:25px; float:left; margin-right:8px; margin-left:2px;}
.form-block .birth_day      {width:25px; float:left; margin-right:0; margin-left:2px;}
.form-block .birth_year		{width:30px; float:right; margin-left:2px;margin-right:6px;}

.form-block .captcha 		{width:36px;}
.form-block .gfx-captcha 	{float:left; margin:0 14px 0 0;}
.form-block .understand_terms  {width:auto; float:left; border:none;}
.form-block .label-understand-terms {width:350px; font-weight:normal; padding:1px 0 0 0;}
.label-understand-terms             {font-weight:normal !important;}

.form-block .label-month 	{width:35px; font-weight:normal; margin-left: 6px;}
.form-block .label-day		{width:22px; margin-left:10px; font-weight:normal;}
.form-block .label-year		{width:26px; margin-left:17px; font-weight:normal;}

/* Consent form styles */
#consentForm 													{margin: 0 16px;}
#consentForm ul 												{margin-left:0;}
#consentForm ul li 												{list-style:none;padding:4px 0;}
#consentListitem 												{text-align:left;display:block;margin-bottom:12px;}
#parental-consent-fields ul   									{margin-top:10px;}
#parental-consent-fields ul li label							{padding-right:5px; font-weight:bold;}
#parental-consent-fields input									{width:215px;}
#consentForm .pagination ul										{margin-top:10px;}
#parental-consent-fields ul li label#parent_last_name_label		{padding-right:6px;}
#parental-consent-fields input#understand_terms					{width:10px;}
.pcf-child-top                                                  {padding: 8px 0; display:block; margin: 0 16px;}
#captchaLabel													{margin-right:6px;}
#consentButtons													{text-align:center;display:block;}
#consentButtons li												{display:inline;}
#consentButtons div												{text-align:left;}

/* Inner Sidebar Section */
.sidebar						{float:right;display:block;width:160px;}
.sidebar h5						{margin:35px 5px 0;font-size:12px;font-weight:normal;}
.sidebar ul 					{list-style-type:none;margin:15px 0 0;}
.sidebar li						{}
.sidebar li a					{padding:0 10px;height:25px;line-height:25px;display:block;position:relative;overflow:visible;}
.sidebar li a.active			{font-weight:bold;}
.sidebar li a span				{position:absolute;top:0;left:-16px;display:block;width:16px;height:25px;z-index:3500;}
.sidebar .button				{margin:8px;float:right;padding:0 8px; line-height:25px;}

#content-block .content			{float:right;display:block;width:600px;border:solid;border-width:0 1px 0 0;min-height:400px; height:auto !important; height:400px;}
#content-block .content h4		{margin:15px 0;font-size:16px;}
#content-block .content p 		{margin:0 35px 10px 0;}

#block-setup					{float:left;margin:0 0 15px;display:block;width:475px;}
#block-setup dl					{margin:25px 25px 0;font-size:14px;display:block;}
#block-setup dt					{width:100px;float:left;font-weight:bold;}
#block-setup dd					{float:left;display:block;width:270px;}
#block-setup dd p 				{margin:0;}
#block-setup dd a.button		{padding:3px 5px;}

#content-setup					{float:right;display:block;width:300px;}
#content-setup h4				{margin:25px 0 10px 25px;font-size:16px;}
#content-setup p 				{margin:0 25px 15px;font-size:16px;}

#submit-setup					{clear:both;margin:0 0 25px 125px;}

#submit-setup .button			{margin:0 15px 0 0;}
#submit-setup p 				{margin:0 35px 15px 0;display:block;float:right;width:250px;}

.pagination 					{text-align:center;}
.pagination ul					{text-align:center;margin:25px 0 0;list-style-type:none;}
.pagination li					{display:inline;margin:0 5px 0 0;}
.pagination a					{padding:5px 8px;border:1px solid;font-size:11px;outline:none;line-height:25px; color:#50768B;}
.pagination a.disabled			{}
.pagination li.full a			{padding-left: 25px;padding-right:25px;}
.pagination .nolink				{padding:0 8px;}


#content-footer					{margin:0 0 25px 7px;}
#content-info					{float:left;margin:0 0 0 5px;}
#content-action					{float:right;}

/*Modal Styles*/
.ui-dialog						{padding:0;}
.ui-dialog .ui-dialog-titlebar	{font-size:12px;padding:0;z-index:1200;display:block;height:30px;line-height:30px;border-width:0 0 1px 0;font-weight:normal;}
.ui-dialog-title				{margin:0;padding:0 5px;}
.ui-dialog .note-entry			{width:220px;outline:0;float:left;}
.ui-dialog .dialog-option		{float:right;width:100px;font-size:11px;}
.ui-dialog .dialog-option label	{float:right;display:block;width:80px;} 
.ui-dialog .dialog-action		{clear:both;margin:15px 8px 8px ;display:block;}
.ui-dialog .ui-dialog-content	{padding:0;font-size:12px;overflow:visible;}
.dialog-content-scroll			{height:300px;overflow:auto;width:360px;}
.dialog-content-scroll p 		{margin:8px;}

.dialog-content 				{margin:8px;}
.dialog-content dl				{margin:5px 0 0;font-size:13px;}
.dialog-content dt				{width:80px;float:left;font-weight:bold;line-height:22px;}
.dialog-content dd				{float:right;display:block;width:210px;line-height:22px;}
.dialog-content p 				{padding:0;margin:10px 0;}

.dialog-form					{list-style-type:none;margin:0;}
.dialog-form li					{padding:2px 0;}
.dialog-form label				{width:100px;float:left;font-weight:bold;}
.dialog-form input				{width:200px;}
.dialog-form select				{width:200px;}
.dialog-form .button			{width:auto;}
.dialog-form .disabled			{}

.dialog-content table			{width:100%;}
.dialog-content th			{text-align:left;font-weight:normal;border:solid;border-width:0 0 1px 0;padding:0 4px 0 0;}
.dialog-content td 			{font-size:11px;border:solid;border-width:0 0 1px 0;cursor:pointer;padding:3px 0;}

.dialog-content-question		{zoom:1;margin:0 0 25px 0;}
.dialog-content-question h2             {color:#BC715E;padding:6px 0;font-weight:normal;background-color:#E2EAED;border-bottom:1px solid #AAA;}
.dialog-content-question p 		{margin:25px 85px 15px 85px;line-height:1.4em;}
.question				{font-size:16px;font-weight:bold;text-align:center;zoom:1;margin:15px 0;}
.dialog-question			{font-size:16px;font-weight:bold;display:block;width:220px;margin:25px auto;line-height:1.3em;}
.dialog-question input			{float:left;width:20px;}
.dialog-question label 			{float:right;width:190px;}

.dialog-action p.right			{float:right;display:block;width:200px;line-height:1em;}
.dialog-action .button			{font-size:11px;}

#dialog-override			{position:absolute;top:0;right:0;z-index:5500;border:none;padding:0 5px;display:none;}
#dialog-override a			{font-size:12px;line-height:30px;padding:0 5px;display:block;}

.emergency-override #dialog-override    {display:block;}

#footer-page					{width:785px;display:block;text-align:center;position:absolute;left:0;bottom:15px;font-size:11px;}

#list-conditions 				{list-style-type:none;}
#list-conditions li				{display:inline;border:solid;border-width:0 1px 0 0;}
#list-conditions a				{padding:10px;}
#list-conditions .last			{border:none;}
#copyright						{}

/* Video Visit */
#video-sidebar					{float:right;display:block;width:150px;height:515px;}
#video-info						{border:1px solid;padding:8px;display:block;height:480px;margin:0 0 5px;}
#video-info dl					{margin:0 0 15px;}
#video-info dt					{font-weight:bold;}
#video-info h3					{margin:0 0 15px;font-size:12px;font-weight:normal;}

#end a							{text-align:center;display:block;line-height:25px;margin:0;}

/* Hover Tooltips */
.tooltip 						{border:1px solid;padding: 8px;position: relative;width: 180px;}
.tooltip .point 				{position:absolute;bottom:-16px;left:30px;}
.tooltip h1						{font-size:12px;margin:15px 10px 5px;}
.tooltip p						{margin:0 10px 15px;font-size:12px;}
.tooltip em						{font-style:normal;}

/* Member Landing None */
#landing-portal-none			{width:340px; margin:60px auto 0 auto; background:#f3f3f3; border:1px solid #b5b5b5; padding:75px 145px; color:#bd6d54;}
#landing-portal-none p 			{font-size:170%; font-weight:bold; line-height:1.26em; margin-bottom:10px;}

/* Member Landing Ready */
#landing-portal-ready			{width:632px; margin:60px auto 0 auto;}
#landing-portal-ready img 		{float:left; width:170px;}
.landing-portal-details			{background:#f3f3f3; border:1px solid #b5b5b5; float:right; padding:25px 30px 30px; width:350px; /* min-height:196px; */ height:auto !important; height:196px; margin-left:20px;}
.landing-portal-details h3		{line-height:1.26em; font-size:155%; color:#bd6d54; font-weight:normal; margin-bottom:1em;}
.landing-portal-details p 		{font-size:140%; line-height:1.26em;}
.landing-portal-details a 		{color:#668d9c; text-decoration:underline;}
.landing-portal-details .label 	{float:left; display:block; /* width:140px; */}
.landing-portal-details .name	{float:left; /* width:210px; padding:0 0 20px 0; */}
.landing-portal-details .btn 	{clear:both; display:inline-block; width:100%; text-align:center; background:#668d9c; padding:8px 0; font-size:140%; margin:0 0 12px 0;background:#668d9c url('../../../images/global/dbl_arrow_right.png') no-repeat 260px 10px;}

.smallprint 	{font-size:inherit; font-style:italic; color:#666; font-size:90%;}
.landing-portal-details p.smallprint		{font-size:100%;text-align:center;}
.guest {
  width:570px;
  padding:25px 30px;
  text-align:center;
}
.guest > h3 {
  margin-bottom:0.5em;
}
.guest label {
  display:inline-block;
  margin-bottom:1.2em;
  font-size:1.1em;
  font-weight:bold;
}
.guest label > input {
  width:200px;
  border:1px solid #B5B5B5;
  vertical-align:baseline;
}
.guest > a.btn {
  width:350px;
}
.landing-portal-details .guest-directive {
  margin-bottom:1.3em;
  font-size:1.1em;
  color:#666;
}
.landing-portal-single-container {
  float:left;
  /* width:602px; */
  width:100%;
  margin-bottom:20px;
}
.meeting-with-container {
  margin-bottom:9px;
  padding:8px 10px 9px;
  font-size:145%;
  border:2px solid #668D9C;
  background:white;
  overflow:hidden;
}
.names-container {
  margin:0 0 12px 12px;
  overflow:hidden;
}
.names-container > span.label {
  float:left;
  width:110px;
  font-size:14px;
}
.names-container > span.names {
  float:left;
  width:200px;
  margin-left:12px;
}
.names-container > span.names a,
.names-container > span.names span {
  display:block;
  margin-bottom:1px;
  color:black;
}

/* Member Login */
.error-login					{position:absolute; top:0; right:0; width:250px; right:100px; top:128px;}
/* Guest Login */
.error-guest-login				{text-align: center; width: 100%; float: left;}

/* ============			@ COLOR 		============ */

body		
{color: #2d2d2d;}
a,
#nav-user,
.button,
.pagination a,
.ui-tooltip-content em,
{color: #50768b;}

.page-title,
.dialog-content th,
#content-block .content h4,
#content-block .sidebar	h5,
#video-info h3,
#sidebar-main h2,
#sidebar-main h3,
.ui-widget-header,
.ui-widget-header a
{color:#bc715e}

#nav-tabs a:hover,
#nav-tabs a.active,
.table-header th,
{color:#57322a;}
.form-block .disabled,
input.disabled,
.pagination a.disabled
{color:#ccc;}
.success
{color:#009855;}
.error
{color:#af1210; font-weight:bold;}
.timer
{color:#ea611b;}
#header-main,
.ui-widget-header #dialog-override,
.ui-widget-header #dialog-override a		
{color:#fff;}

.pagination a.disabled,
input.disabled,
.dialog-content th,
.dialog-content td
{border-color:#ccc;}
#content-block,
#content-block .content
{border-color:#d9d3c3;}
#sidebar-main p 
{border-color:#a5a9aa;}
#sidebar-main h2 
{border-color:#DEDFD9;}

.landing-portal-details .btn:hover, .landing-portal-details .btn:visited, .landing-portal-details .btn:active, .landing-portal-details .btn:link {color:#fff; text-decoration:none;}

body,
#content-main,
.pagination a.disabled,
input.disabled
{background: #fff;}

#container-main,
.odd td,
.button,
.pagination a,
.dialog-content tr.active td,
.dialog-content tr:hover td,
#video-info
{background: #f3f3f3}

.table-header th
{background:#d9d3c3;}
#dialog-override
{background:#af1210;}

.header-inner 						{background:#e2eaed url('../../../images/global/back-blue.png') repeat-x top left;}
#header-main 						{background: #c10901 url('../../../images/global/back-masthead.jpg') no-repeat top left;}

#nav-tabs a						{background:#e2eaed url('../../../images/global/back-blue.png') repeat-x top left;}
#nav-tabs a:hover,
#nav-tabs a.active					{background:#d9d3c3 url('../../../images/global/back-brown.png') repeat-x top left;}

#nav-tabs a.alt						{background:#f0eed7 url('../../../images/global/back-light.png') repeat-x top left;}

.edit							{background: url('../../../images/global/icon-glyphs.png') no-repeat  0 5px;}
.delete							{background: url('../../../images/global/icon-glyphs.png') no-repeat 0 -23px;}

.sidebar li a.active span                               {background: url('../../../images/global/icon-arrow.png') no-repeat top right}

.date-icon						{background: url('../../../images/global/icon-datetime.png') no-repeat 0 0;}
.time-icon						{background: url('../../../images/global/icon-datetime.png') no-repeat 0 -22px;}

.tooltip	 						{border-color:#d1c9b7;}
.tooltip h1 						{color:#626262;}
.tooltip em,
.button								{color: #50768b;}

/* ============		@PLUGIN SPECIFIC  =============== */
.ui-dialog-titlebar-close		{display:none;}

/* ============		@CSS3	======================== */
.border-radius
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.border-radius-bottom
{
    z-index:10;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    background-clip: border-box;
}

.border-radius-top
{
    z-index:10;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.linear-gradient
{
    background:#949494;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(174,174,174)),
        color-stop(0.9, rgb(190,190,190))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(174,174,174) 200px,
        rgb(190,190,190) 90%
        );
}

.box-shadow	
{
    z-index:1000;
    -webkit-box-shadow: 1px 2px 3px #3b3b3b;
    -moz-box-shadow: 1px 2px 3px #3b3b3b;
    box-shadow: 1px 2px 3px #3b3b3b;
}

/* ============		@BROWSER FIXES	======================== */
.ie6 #container-header			{position:relative;}
.ie6 #container-header			{position:relative;}
.ie6 #container-main			{margin:0;}

.ie6 .form-block				{margin:0 0 5px 16px;}
.ie7 .pagination a				{padding:0 8px;}
.ie6 .pagination a				{padding:0 8px;}
.ie6 .button					{padding:0 8px; margin:0; display: inline}
.ie6 .form-block				{width:390px;}
.ie6 .form-block .birth_year	{margin-right:4px;}
.ie6 #captchaLabel				{margin-right:9px;}
.ie6 .label-month				{margin-left:8px;}