* text=auto !eol
/.classpath -text
/.project -text
/build.properties -text
/build.xml -text
conf/filters/local -text
conf/log4j.properties -text
conf/project.init.properties -text
conf/videovisitsmember.local.properties -text
docroot/META-INF/MANIFEST.MF -text
docroot/WEB-INF/action-servlet.xml -text
docroot/WEB-INF/applicationContext.xml -text
docroot/WEB-INF/classes/configuration.properties -text
docroot/WEB-INF/jsp/blank.jsp -text
docroot/WEB-INF/jsp/data/jsonData.jsp -text
docroot/WEB-INF/jsp/data/jsonHeader.jsp -text
docroot/WEB-INF/jsp/help.jsp -text
docroot/WEB-INF/jsp/intro.jsp -text
docroot/WEB-INF/jsp/landing.jsp -text
docroot/WEB-INF/jsp/landingnone.jsp -text
docroot/WEB-INF/jsp/landingready.jsp -text
docroot/WEB-INF/jsp/login.jsp -text
docroot/WEB-INF/jsp/logout.jsp -text
docroot/WEB-INF/jsp/nav/footer.jsp -text
docroot/WEB-INF/jsp/nav/header.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-empty.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-intro.jsp -text
docroot/WEB-INF/jsp/nav/sidebar.jsp -text
docroot/WEB-INF/jsp/nav/userInfo-empty.jsp -text
docroot/WEB-INF/jsp/nav/userInfo-visit.jsp -text
docroot/WEB-INF/jsp/nav/userInfo.jsp -text
docroot/WEB-INF/jsp/visit.jsp -text
docroot/WEB-INF/taglib/spring.tld -text
docroot/WEB-INF/taglib/struts-tiles.tld -text
docroot/WEB-INF/taglib/taglib.tld -text
docroot/WEB-INF/tiles-definitions/tiles-definitions.xml -text
docroot/WEB-INF/tiles-templates/applicationLayout.jsp -text
docroot/WEB-INF/tiles-templates/dataLayout.jsp -text
docroot/WEB-INF/web.xml -text
docroot/css/library/plugin/jqModal.css -text
docroot/css/site/global/base.css -text
docroot/css/site/global/handheld.css -text
docroot/css/site/global/jquery-ui.css -text
docroot/css/site/global/print.css -text
docroot/css/site/global/structure.css -text
docroot/css/site/global/style.css -text
docroot/environment/dependency_css.json -text
docroot/environment/dependency_js.json -text
docroot/environment/path.js -text
docroot/images/global/ajax-loader.gif -text
docroot/images/global/back-blue.png -text
docroot/images/global/back-brown.png -text
docroot/images/global/back-intro1.jpg -text
docroot/images/global/back-intro2.jpg -text
docroot/images/global/back-intro3.jpg -text
docroot/images/global/back-light.png -text
docroot/images/global/back-masthead.jpg -text
docroot/images/global/hoverpoint.gif -text
docroot/images/global/icon-arrow.png -text
docroot/images/global/icon-datetime.png -text
docroot/images/global/icon-glyphs.png -text
docroot/images/global/placeholder-captcha.png -text
docroot/images/global/placeholder-meeting-frame.jpg -text
docroot/images/global/placeholder-member-landing-portal.jpg -text
docroot/images/global/portrait-1.jpg -text
docroot/images/global/sprite-bg-side-nav.png -text
docroot/index.jsp -text
docroot/js/library/jquery/jquery-1.4.2.min.js -text
docroot/js/library/jquery/jquery-ui-1.8.2.custom.min.js -text
docroot/js/library/plugin/additional-validation-methods.js -text
docroot/js/library/plugin/dimensions.js -text
docroot/js/library/plugin/jqDnR.js -text
docroot/js/library/plugin/jqModal.js -text
docroot/js/library/plugin/jquery-grid-0.6.js -text
docroot/js/library/plugin/jquery-hinter-0.6.js -text
docroot/js/library/plugin/jquery.hint.js -text
docroot/js/library/plugin/jquery.validate.min.js -text
docroot/js/library/plugin/modernizr-1.5.min.js -text
docroot/js/site/global/display.js -text
docroot/js/site/global/global.js -text
docroot/js/site/global/lightbox.js -text
docroot/js/site/global/plugins.js -text
docroot/js/site/global/script.js -text
docroot/js/site/help/help.js -text
docroot/js/site/landingnone/landingnone.js -text
docroot/js/site/landingready/landingready.js -text
docroot/js/site/login/login.js -text
docroot/js/site/visit/visit.js -text
docroot/samplevideo.mp4 -text
lib/SimpleCaptcha-1.1.1.jar -text
lib/XmlSchema-1.3.3.jar -text
lib/XmlSchema-1.4.2.wso2v1.jar -text
lib/annogen-0.1.0.jar -text
lib/ant-contrib-0.6.jar -text
lib/antlr-2.7.2.jar -text
lib/axiom-1.2.7.wso2v1.jar -text
lib/axiom-api-1.2.6.jar -text
lib/axiom-dom-1.2.6.jar -text
lib/axiom-impl-1.2.6.jar -text
lib/axis-1.4.jar -text
lib/axis2-1.35.jar -text
lib/axis2-1.5.0.wso2v4.jar -text
lib/axis2-adb-SNAPSHOT.jar -text
lib/axis2-kernel-SNAPSHOT.jar -text
lib/axis2-spring-1.3.jar -text
lib/commons-beanutils-1.7.0.jar -text
lib/commons-codec-1.3.0.wso2v1.jar -text
lib/commons-codec-1.3.jar -text
lib/commons-collections-3.2.jar -text
lib/commons-dbcp.jar -text
lib/commons-digester-1.8.jar -text
lib/commons-el.jar -text
lib/commons-fileupload-1.1.1.jar -text
lib/commons-httpclient-3.0.1.jar -text
lib/commons-httpclient-3.1.0.wso2v1.jar -text
lib/commons-io-1.4.jar -text
lib/commons-lang-2.4.jar -text
lib/commons-logging-1.1.1.jar -text
lib/commons-logging-api-1.1.1.jar -text
lib/commons-pool.jar -text
lib/cos.jar -text
lib/dom4j-1.6.1.jar -text
lib/dynamic-tiles2-1.1.jar -text
lib/ezmorph-1.0.6.jar -text
lib/geronimo-stax-api_1.0_spec-1.0.jar -text
lib/httpcore-4.1.0.alpha1-wso2v1.jar -text
lib/j2ee.jar -text
lib/jsmin.0.2.3.jar -text
lib/json-lib-2.3-jdk15.jar -text
lib/jstl.jar -text
lib/jstl_el.jar -text
lib/jta.jar -text
lib/log4j-1.2.15.jar -text
lib/neethi-2.0.4.wso2v1.jar -text
lib/ognl-2.6.11.jar -text
lib/slf4j-api-1.5.0.jar -text
lib/slf4j-log4j12-1.5.0.jar -text
lib/spring-webmvc.jar -text
lib/spring.jar -text
lib/standard.jar -text
lib/tiles-api-2.0.5.jar -text
lib/tiles-core-2.0.5.jar -text
lib/tiles-jsp-2.0.5.jar -text
lib/videovisit-memberservice-client.jar -text
lib/woden-api-0.95.jar -text
lib/wsdl4j-1.6.1.jar -text
lib/wsdl4j-1.6.2.wso2v1.jar -text
lib/wso2mex-2.2.jar -text
lib/wso2xfer-2.2.jar -text
lib/wstx-asl-3.2.1.jar -text
lib/xml-apis.jar -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/EnvironmentCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/MeetingCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/WebAppContextCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/context/SystemError.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/context/WebAppContext.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/AppRootController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LandingNoneController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LandingReadyController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LoginController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LoginControllerServlet -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LogoutController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SimplePageController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SubmitLoginController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/VisitController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/filter/RequestLoggingFilter.java -text
