* text=auto !eol
/.classpath -text
/.project -text
build-scripts/branchRelease.sh -text
build-scripts/build.sh -text
build-scripts/buildRelease.sh -text
build-scripts/checkoutRelease.sh -text
build-scripts/env.sh -text
build-scripts/override/build.properties.pp -text
build-scripts/override/build.properties.pr -text
build-scripts/override/build.properties.qa -text
build-scripts/override/local.pp -text
build-scripts/override/local.pr -text
build-scripts/override/local.qa -text
build-scripts/tagCode.sh -text
build-scripts/upload.sh -text
/build.properties -text
/build.xml -text
/buildjenkins.xml -text
conf/external/dv/videovisit.properties -text svneol=unset#text/plain
conf/external/pp/videovisit.properties -text svneol=unset#text/plain
conf/external/pr/zone1/videovisit.properties -text svneol=unset#text/plain
conf/external/pr/zone2/videovisit.properties -text svneol=unset#text/plain
conf/external/qa/videovisit.properties -text svneol=unset#text/plain
conf/external/qaint/int1/videovisit.properties -text svneol=unset#text/plain
conf/external/qaint/int2/videovisit.properties -text svneol=unset#text/plain
conf/filters/dv/configuration.properties -text svneol=unset#text/plain
conf/filters/local -text
conf/filters/pp/configuration.properties -text
conf/filters/pr/configuration.properties -text svneol=unset#text/plain
conf/filters/qa/configuration.properties -text svneol=unset#text/plain
conf/filters/tr/configuration.properties -text svneol=unset#text/plain
conf/log4j.properties -text
conf/log4j.xml -text svneol=unset#text/plain
conf/project.init.properties -text
conf/videovisitsmember.local.properties -text
docroot/META-INF/MANIFEST.MF -text
docroot/WEB-INF/action-servlet.xml -text
docroot/WEB-INF/applicationContext.xml -text
docroot/WEB-INF/classes/printPdfFilter.properties -text svneol=unset#text/plain
docroot/WEB-INF/jsp/blank.jsp -text
docroot/WEB-INF/jsp/common/gtmSnippet.jsp -text
docroot/WEB-INF/jsp/data/jsonData.jsp -text
docroot/WEB-INF/jsp/data/jsonHeader.jsp -text
docroot/WEB-INF/jsp/deprecated/guestJoinNowModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/deprecated/guestvisit.jsp -text
docroot/WEB-INF/jsp/deprecated/joinNowModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/deprecated/visit.jsp -text
docroot/WEB-INF/jsp/enableJavascript.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/error.jsp -text
docroot/WEB-INF/jsp/generalError.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/guest.jsp -text
docroot/WEB-INF/jsp/guesterror.jsp -text
docroot/WEB-INF/jsp/guestlogout.jsp -text
docroot/WEB-INF/jsp/guestready.jsp -text
docroot/WEB-INF/jsp/healthMonitor.jsp -text
docroot/WEB-INF/jsp/help.jsp -text
docroot/WEB-INF/jsp/intro.jsp -text
docroot/WEB-INF/jsp/landing.jsp -text
docroot/WEB-INF/jsp/landingnone.jsp -text
docroot/WEB-INF/jsp/landingready.jsp -text
docroot/WEB-INF/jsp/loading.jsp -text
docroot/WEB-INF/jsp/login.jsp -text
docroot/WEB-INF/jsp/logout.jsp -text
docroot/WEB-INF/jsp/mdo.jsp -text
docroot/WEB-INF/jsp/mdohelp.jsp -text
docroot/WEB-INF/jsp/mobile/almostThereClinicianPopupModal.jsp -text
docroot/WEB-INF/jsp/mobile/common/footer.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/header.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/headerpg.jsp -text
docroot/WEB-INF/jsp/mobile/common/information.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/informationTwo.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/informationTwopg.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/informationpg.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/logoutModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/common/pglogoutModal.jsp -text
docroot/WEB-INF/jsp/mobile/common/preloader.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/expired-visit-member-pg.jsp -text
docroot/WEB-INF/jsp/mobile/expired-visit-member.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/expired-visit.jsp -text
docroot/WEB-INF/jsp/mobile/landingPage.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/landingPagePG.jsp -text
docroot/WEB-INF/jsp/mobile/logout-confirmation.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/mobileAppDownload.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/mobileAppLandingPage.jsp -text
docroot/WEB-INF/jsp/mobile/mobileAppPatientLogin.jsp -text
docroot/WEB-INF/jsp/mobile/mobileAppPatientMeetingExpired.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/patientLightAuth.jsp -text
docroot/WEB-INF/jsp/mobile/patientLoginModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/patientguestLoginModal.jsp -text
docroot/WEB-INF/jsp/mobile/pg-logout-confirmation.jsp -text
docroot/WEB-INF/jsp/mobile/pgLightAuth.jsp -text
docroot/WEB-INF/jsp/mobile/preLoginPage.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/prePatientGuestLoginPage.jsp -text
docroot/WEB-INF/jsp/mobile/userPresentInMeetingModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/videovisitLanding.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/videovisitLandingClinicianModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/mobile/videovisitLandingGuestModal.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/nav/footer-mdo-live.jsp -text
docroot/WEB-INF/jsp/nav/footer-mdo.jsp -text
docroot/WEB-INF/jsp/nav/footer-sso.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/nav/footer.jsp -text
docroot/WEB-INF/jsp/nav/guestInfo.jsp -text
docroot/WEB-INF/jsp/nav/header.jsp -text
docroot/WEB-INF/jsp/nav/mdoSetupHeader.jsp -text
docroot/WEB-INF/jsp/nav/mdoheader.jsp -text
docroot/WEB-INF/jsp/nav/mdoliveheader.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-empty.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-intro.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-mdo-live.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-mdo.jsp -text
docroot/WEB-INF/jsp/nav/sidebar-tpmg-image-only.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/nav/sidebar.jsp -text
docroot/WEB-INF/jsp/nav/simpleText.jsp -text
docroot/WEB-INF/jsp/nav/userInfo-empty.jsp -text
docroot/WEB-INF/jsp/nav/userInfo-guestVisit.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/nav/userInfo-help.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/nav/userInfo-visit.jsp -text
docroot/WEB-INF/jsp/nav/userInfo.jsp -text
docroot/WEB-INF/jsp/preloader.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/readme.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/setup.jsp -text
docroot/WEB-INF/jsp/ssologin.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/videoVisit.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/videoVisitGuest.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/videoVisitPlugin.jsp -text svneol=unset#text/plain
docroot/WEB-INF/jsp/videoVisitWebRTC.jsp -text svneol=unset#text/plain
docroot/WEB-INF/resources/policy/UTPolicy.xml -text svneol=unset#text/plain
docroot/WEB-INF/resources/repo/modules/addressing-1.6.1-wso2v10.mar -text
docroot/WEB-INF/resources/repo/modules/rampart-1.6.1-wso2v12.mar -text
docroot/WEB-INF/taglib/spring.tld -text
docroot/WEB-INF/taglib/struts-tiles.tld -text
docroot/WEB-INF/taglib/taglib.tld -text
docroot/WEB-INF/tiles-definitions/mobile-tiles-definitions.xml -text svneol=unset#text/plain
docroot/WEB-INF/tiles-definitions/tiles-definitions.xml -text
docroot/WEB-INF/tiles-templates/applicationLayout.jsp -text
docroot/WEB-INF/tiles-templates/dataLayout.jsp -text
docroot/WEB-INF/tiles-templates/javascriptNotSupportedLayout.jsp -text svneol=unset#text/plain
docroot/WEB-INF/tiles-templates/mdoApplicationLayout.jsp -text
docroot/WEB-INF/tiles-templates/mobileInAppBrowserLayout.jsp -text svneol=unset#text/plain
docroot/WEB-INF/tiles-templates/mobileJavascriptNotSupportedLayout.jsp -text svneol=unset#text/plain
docroot/WEB-INF/tiles-templates/mobileLayout.jsp -text svneol=unset#text/plain
docroot/WEB-INF/tiles-templates/setupLayout.jsp -text
docroot/WEB-INF/tiles-templates/textLayout.jsp -text
docroot/WEB-INF/tiles-templates/videoVisitApplicationLayout.jsp -text svneol=unset#text/plain
docroot/WEB-INF/web.xml -text
docroot/blank.jsp -text
docroot/consent_forms/consent_2011_03_23.ie.txt -text
docroot/consent_forms/consent_2011_03_23.txt -text
docroot/consent_forms/consent_2011_08_01.txt -text
docroot/css/deprecated/handheld.css -text
docroot/css/deprecated/jqModal.css -text
docroot/css/deprecated/jquery-mdo.css -text
docroot/css/deprecated/jquery-ui-1.8.2.custom.css -text
docroot/css/deprecated/jquery-ui.css -text
docroot/css/deprecated/mobile-global.css -text svneol=unset#text/plain
docroot/css/deprecated/mobile-reset.min.css -text svneol=unset#text/plain
docroot/css/deprecated/new_styles.css -text
docroot/css/deprecated/print.css -text
docroot/css/deprecated/style.css -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_flat_75_ffffff_40x100.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_glass_65_ffffff_1x400.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_glass_75_dadada_1x400.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-icons_222222_256x240.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-icons_2e83ff_256x240.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-icons_454545_256x240.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-icons_888888_256x240.png -text
docroot/css/library/jquery/jquery-ui/smoothness/images/ui-icons_cd0a0a_256x240.png -text
docroot/css/library/jquery/jquery-ui/smoothness/jquery-ui-1.9.2.custom.css -text svneol=unset#text/plain
docroot/css/library/jquery/jquery-ui/smoothness/jquery-ui-1.9.2.custom.min.css -text svneol=unset#text/plain
docroot/css/library/plugin/smartbanner/jquery.smartbanner.css -text svneol=unset#text/plain
docroot/css/site/global/base.css -text
docroot/css/site/global/mobile-web.css -text svneol=unset#text/plain
docroot/css/site/global/mobile.css -text svneol=unset#text/plain
docroot/css/site/global/structure.css -text
docroot/css/site/mdo/print.css -text
docroot/css/site/mdo/styles.css -text
docroot/css/site/mdo/vv_styles.css -text
docroot/css/site/sso/ssologin.css -text svneol=unset#text/plain
docroot/environment/dependency_css.json -text
docroot/environment/dependency_js.json -text
docroot/environment/path.js -text
docroot/helpindex.jsp -text
docroot/images/email/appleAppStore.png -text
docroot/images/email/googlePlayStore.png -text
docroot/images/favicon/favicon.ico -text
docroot/images/global/TPGM_Logo_Final_Small.png -text
docroot/images/global/ajax-loader.gif -text
docroot/images/global/back-blue.png -text
docroot/images/global/back-brown.png -text
docroot/images/global/back-intro1.jpg -text
docroot/images/global/back-intro2.jpg -text
docroot/images/global/back-intro3.jpg -text
docroot/images/global/back-light.png -text
docroot/images/global/back-masthead.jpg -text
docroot/images/global/caret-kp-midBlue.png -text
docroot/images/global/dbl_arrow_right.png -text
docroot/images/global/desktop_spinner.gif -text
docroot/images/global/hoverpoint.gif -text
docroot/images/global/icon-arrow.png -text
docroot/images/global/icon-datetime.png -text
docroot/images/global/icon-glyphs.png -text
docroot/images/global/iconLoading_small.gif -text
docroot/images/global/placeholder-captcha.png -text
docroot/images/global/placeholder-meeting-frame.jpg -text
docroot/images/global/placeholder-member-landing-portal.jpg -text
docroot/images/global/portrait-1.jpg -text
docroot/images/global/sm-TPMG-banner-logo.png -text
docroot/images/global/sprite-bg-side-nav.png -text
docroot/images/global/waiting_rm_bkgd.png -text
docroot/images/global/waiting_rm_bkgd_old.png -text
docroot/images/mdo/MDO-banner.png -text
docroot/images/mdo/icon_checklist.png -text
docroot/images/mdo/icon_devices.png -text
docroot/images/mdo/image_landing_page.png -text
docroot/images/mdo/image_landing_page_old.png -text
docroot/images/mobile/bkgrnd-faded.png -text
docroot/images/mobile/bkgrnd.png -text
docroot/images/mobile/icon_video@2x.png -text
docroot/images/mobile/kppc_icon.png -text
docroot/images/mobile/phone.png -text
docroot/images/mobile/video-icon-blue.png -text
docroot/images/mobile/video-icon-gray.png -text
docroot/images/mobile/video-visit-ui@2x.png -text
docroot/images/mobile/video-visit-ui@2x_new.png -text
docroot/images/mobile/video-visit-ui@2x_new_kp.png -text
docroot/images/mobile/vv-patient-welcome-image.jpg -text
docroot/index.jsp -text
docroot/js/deprecated/additional-methods.js -text
docroot/js/deprecated/audioMeter/volume-main.js -text svneol=unset#text/plain
docroot/js/deprecated/audioMeter/volume-meter.js -text svneol=unset#text/plain
docroot/js/deprecated/display.js -text
docroot/js/deprecated/error.js -text
docroot/js/deprecated/jquery-1.4.4.min.js -text
docroot/js/deprecated/jquery-1.8.3.js -text svneol=unset#text/plain
docroot/js/deprecated/jquery-ui-1.8.7.min.js -text
docroot/js/deprecated/jquery-ui-1.9.2.custom.js -text svneol=unset#text/plain
docroot/js/deprecated/jquery.address-1.2.2.min.js -text
docroot/js/deprecated/jquery.validate.js -text
docroot/js/deprecated/logout.js -text
docroot/js/deprecated/maskedinput/jquery.maskedinput.min.js -text svneol=unset#text/plain
docroot/js/deprecated/mdo-jquery-v1.min.js -text
docroot/js/deprecated/print.js -text svneol=unset#text/plain
docroot/js/deprecated/script.js -text
docroot/js/deprecated/utils.js -text
docroot/js/deprecated/validation/additional-methods.min.js -text
docroot/js/deprecated/validation/jquery.validate.min.js -text
docroot/js/library/jquery/jquery-1.8.3.min.js -text svneol=unset#text/plain
docroot/js/library/jquery/jquery-ui/jquery-ui-1.9.2.custom.min.js -text svneol=unset#text/plain
docroot/js/library/modernizr/modernizr_283.js -text
docroot/js/library/plugin/smartbanner/jquery.smartbanner.js -text svneol=unset#text/plain
docroot/js/site/global/commonScript.js -text svneol=unset#text/plain
docroot/js/site/global/dateExtensions_loader.js -text
docroot/js/site/global/global.js -text
docroot/js/site/global/plugins.js -text
docroot/js/site/guest/guest.js -text
docroot/js/site/guestready/guestready.js -text
docroot/js/site/guestvisit/guestvisit.js -text
docroot/js/site/help/help.js -text
docroot/js/site/intro/popup.js -text
docroot/js/site/landingnone/landingnone.js -text
docroot/js/site/landingready/landingready.js -text
docroot/js/site/login/login.js -text
docroot/js/site/mdo/jq-plugins-v1.min.js -text
docroot/js/site/mobile/mobile-web.js -text svneol=unset#text/plain
docroot/js/site/setup/setup.js -text svneol=unset#text/plain
docroot/js/site/ssologin/ssoLogin.js -text svneol=unset#text/plain
docroot/js/site/validation/validate.js -text svneol=unset#text/plain
docroot/js/site/videovisit/videoVisit.js -text svneol=unset#text/plain
docroot/js/site/visit/visit.js -text
docroot/keepalive.jsp -text
docroot/live.jsp -text
docroot/patient_faq.xml -text
docroot/readme.txt -text svneol=unset#text/plain
docroot/samplevideo.mp4 -text
docroot/thankyou.html -text
docs/Video[!!-~]Visit[!!-~]Member[!!-~]WebApp[!!-~]Build[!!-~]and[!!-~]Test.doc -text
docs/VideoVisitMembert-DesignSpecifications.doc -text
lib/MemberSSOAuthRestClient-1.0.jar -text
lib/SimpleCaptcha-1.1.1.jar -text
lib/VideoVisitFaqIntegration.jar -text
lib/VideoVisitIconPromoIntegration.jar -text
lib/VideoVisitPromoIntegration.jar -text
lib/VideoVisitVideoLinkIntegration.jar -text
lib/XmlSchema_1.4.7.wso2v2.jar -text
lib/annogen-0.1.0.jar -text
lib/ant-contrib-0.6.jar -text
lib/antlr-2.7.2.jar -text
lib/axiom_1.2.11.wso2v4.jar -text
lib/axis2_1.6.1.wso2v10.jar -text
lib/commons-beanutils-1.7.0.jar -text
lib/commons-codec_1.4.0.wso2v1.jar -text
lib/commons-collections-3.2.jar -text
lib/commons-configuration-1.3.jar -text
lib/commons-dbcp.jar -text
lib/commons-digester-1.8.jar -text
lib/commons-el.jar -text
lib/commons-fileupload-1.1.1.jar -text
lib/commons-httpclient-3.1.0.wso2v1.jar -text
lib/commons-io-1.4.jar -text
lib/commons-lang-2.4.jar -text
lib/commons-logging-1.1.1.jar -text
lib/commons-logging-api-1.1.1.jar -text
lib/commons-pool.jar -text
lib/cos.jar -text
lib/dom4j-1.6.1.jar -text
lib/dynamic-tiles2-1.1.jar -text
lib/ezmorph-1.0.6.jar -text
lib/geronimo-stax-api_1.0_spec-1.0.1.wso2v1.jar -text
lib/gson-2.2.4.jar -text
lib/httpclient_4.2.5.wso2v1.jar -text
lib/httpcore_4.3.0.wso2v1.jar -text
lib/j2ee.jar -text
lib/jsmin.0.2.3.jar -text
lib/json-lib-2.3-jdk15.jar -text
lib/jstl.jar -text
lib/jstl_el.jar -text
lib/jta.jar -text
lib/log4j-1.2.15.jar -text
lib/neethi_2.0.4.wso2v4.jar -text
lib/ognl-2.6.11.jar -text
lib/opensaml2_2.4.1.wso2v1.jar -text
lib/org.json-20120521.jar -text
lib/org.wso2.carbon.addressing_4.2.0.jar -text
lib/org.wso2.carbon.logging_4.2.0.jar -text
lib/org.wso2.carbon.mex_4.2.0.jar -text
lib/org.wso2.carbon.security.mgt_4.2.3.jar -text
lib/org.wso2.securevault_1.0.0.wso2v2.jar -text
lib/printPdfFilter.jar -text
lib/rampart-core_1.6.1.wso2v12.jar -text
lib/rampart-policy_1.6.1.wso2v12.jar -text
lib/rampart-trust_1.6.1.wso2v12.jar -text
lib/slf4j-api-1.5.0.jar -text
lib/slf4j-log4j12-1.5.0.jar -text
lib/spring-webmvc.jar -text
lib/spring.jar -text
lib/standard.jar -text
lib/tiles-api-2.0.5.jar -text
lib/tiles-core-2.0.5.jar -text
lib/tiles-jsp-2.0.5.jar -text
lib/videovisit-restservice-client.jar -text
lib/woden_1.0.0.M8-wso2v1.jar -text
lib/wsdl4j_1.6.2.wso2v4.jar -text
lib/wso2mex-2.2.jar -text
lib/wso2xfer-2.2.jar -text
lib/wss4j_1.5.11.wso2v6.jar -text
lib/wstx-asl-3.2.1.jar -text
lib/wurfl-1.5.2.jar -text
lib/wurfl.zip -text
lib/xml-apis.jar -text
lib/xmlbeans-2.3.0.wso2v1.jar -text
/pom.xml -text
src/org/kp/tpmg/common/security/Crypto.java -text svneol=unset#text/plain
src/org/kp/tpmg/common/security/ServiceSecurityLoader.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/EnvironmentCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/MeetingCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/MonitoringCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/command/WebAppContextCommand.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/context/SystemError.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/context/WebAppContext.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/AppRootController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/CaregiverJoinLeaveMeetingController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/CreateCareGiverMobileMeetingController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/CreateCaregiverSessionController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/CreateMeetingSessionController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/CreateMobileMeetingSessionController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/EndCaregiverSessionController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/GuestController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/HealthMonitorController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/JoinMeetingController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LaunchMeetingForMemberController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LaunchMeetingForMemberDesktopController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LaunchMeetingForMemberGuestController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LaunchMemberProxyMeetingForMemberController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LogVendorMeetingErrorsController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LogoffController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/LogoutController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/MobileLoginController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/PreSetupWizardController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/ProviderRunningLateInfoController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/QuitMeetingController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/RetrieveMeetingController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SSOPreLoginController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SSOSubmitLoginController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SessionTimeoutController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SetKPHCConferenceStatusController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SetupWizardController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SimplePageController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/SubmitLoginController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/TerminateSetupWizardMeetingController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/UserPresentInMeetingController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/ValidateUserSession.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/VerifyGuestController.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/controller/VideoVisitPatientController.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/FailureInfo.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/KpOrgAuthMember.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/KpOrgSignOnInfo.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/MemberAuthResponseStatus.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/MemberInfo.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/UserInfo.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/VendorPluginDTO.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/data/VideoVisitParamsDTO.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/filter/BackButtonFilter.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/filter/DataSessionFilter.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/filter/RequestLoggingFilter.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/filter/WebSessionFilter.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/FaqParser.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/IconPromoParser.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/PromoParser.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/VideoLinkParser.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/faq.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/faqitem.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/hyperlink.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/icon.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/iconpromo.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/promo.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/parser/videolink.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/service/DeviceDetectionService.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/service/WebService.java -text
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/servlet/EmailActionServlet.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/utils/GsonUtil.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/utils/ServiceUtil.java -text svneol=unset#text/plain
src/org/kp/tpmg/ttg/webcare/videovisits/member/web/utils/WebUtil.java -text
