.main-content {
    padding: 5.25rem 2rem .625rem;
    margin-bottom: 4.5rem;

    .error-text {
        background-color: #C22507;
        color: #FFFFFF;
        margin: -1.2rem -2rem 1rem -2rem;
        display: flex;

        p {
            margin: 0.5rem 0.5rem 0.75rem 0;
            text-align: center;
        }
    }

    .help-link-container {
        display: block;
        .lang-change{            
            color: #006ba6;
            cursor: pointer;
            .divider{                      
                padding-right: 0.5rem;                      
              }
              .spanishlabel{
                  padding-left: 0.5rem;
              }
          }
    }
    .help-link {
        color: #006ba6;
        outline: none;
        text-decoration: none;
    }
    .browser-block-container{
        margin-bottom: 2rem;
        width: 52%;
    }

    .temp-content,
    .sso-content {
        height: 100%;

        .row {
            .mobile-logo-container {
                display: none;
                margin-bottom: 6.125rem;
                .title{
                    width: fit-content;
                    margin: 0 2.812rem;
                    .header {
                        font-size: 1.187rem;
                        color: #333333;
                        font-weight: 500;
                    }

                    .sub-header {
                        font-size: 2rem;
                        color: #203864;
                        font-weight: 500;
                        margin-top: -10px;
                    }
                }
            }

            .col-form-label {
                font-size: .8125rem;
                font-weight: bold;
            }

            .lastname,
            .mrn {
                font-size: 0.6875rem;
                margin-top: 0.2rem;
                padding: 0 0 0 0.3rem;
            }

            .dob-mm,
            .dob-yy {
                font-size: 0.6875rem;
                margin-top: 0.2rem;
            }

            .enable {
                opacity: 1;
                pointer-events: all;
            }

            .disable {
                opacity: 0.5;
                pointer-events: none;
            }

            .redirectToKp {
                margin-left: 2rem;
            }

            .temp-login {
                font-size: 0.875rem;
            }

            .login-submit {
                background: #006ba6;
                cursor: pointer;
                color: #FFF;
                height: calc(1.5em + .60rem + 2px);
                width: 13.99rem;
            }

            .login-submit:disabled {
                pointer-events: none;
            }

            .member-head-msg {
                font-family: Arial, sans-serif;
                font-size: 1.75rem;
                font-weight: 700;
            }

            p {
                font-size: 0.75rem;
            }

            .textindent {
                text-indent: 0.2rem;
            }

            .sso-login-error,
            .temp-login-error {
                word-break: break-all;

                text-align: left;
                font-weight: bold;
                font-size: 12px;
                color: #ac5a41;

                .error {
                    width: 17rem;
                }

                .temp-error {
                    width: 18rem;
                }
            }
        }

        .sso-form,
        .temp-form {

            .sub-text {
                color: #333333;
                font-size: 1.2rem;
            }

            .login-form {
                margin: 0 auto;
                margin-top: 8%;
                .form-group {
                    .label {
                        font-size: .8125rem;
                        font-weight: bold;
                    }

                    .mobile-input {
                        border: 0;
                        border-bottom: solid 1px #C8C7C7;
                    }
                }

                .top-form-group-margin {
                    margin-top: -0.25rem;
                }

                .margin-gap {
                    margin-top: 8.35rem;
                }

                .mobile-submit {
                    text-align: center;
                    height: 2.312rem;
                }
            }

            .mobile-form-toggle {
                background-color: #f3f3f3;
                display: flex;
                padding: 0rem 1.5rem;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 0;

                .video-icon {
                    display: inline-block;
                    height: 2.8125rem;
                    width: 0.2rem;
                    background-size: cover;
                    margin: 0 1.5rem 0 0;
                }

                .toggle-text {
                    display: inline-block;
                    margin: auto 0;
                }
            }

            .cancel-btn {
                width: 13.99rem;
                height: 2.5rem;
                justify-content: center;
                border-radius: 0;
                align-items: center;
            }

        }

    }

    .mobile-footer {
        background-color: #F2F7FB;
        padding: 1rem;
        color: #333333;
        border-top: solid 1px #C6CDD2;
        margin: 0 -2rem;
        display: none;

        .secondary {
            font-size: 0.7rem;
        }
    }
}

.occupy-space  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin-bottom: 0;
}

.auth-form-footer {
    display: block;    
    position: relative;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
    height: 0rem;
}
@media only screen and (min-width: 961px) {
    .main-content {    
        .help-link-container {
            display: block;
            margin: 9rem 6.5rem 0 5.5rem;            
        }
        .help-icon{
            margin-left: 1.5rem;
        }
    }
}
/* Mobile Styles to  Tablet Styles */
@media only screen and (max-width: 960px) {
    .main-content {
        margin: 0.2rem 1rem;
        padding: 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        .sso-content {
            .sso-form{
                margin: 0;
                .mobile-logo-container {
                    display: block;
                    margin-top: 1.5rem;
                }
                .login-form {
                    .margin-gap {
                        margin-top: 3.95rem;
                    }
                }
            }
        }
        .temp-content {
            .temp-form {
                .mobile-logo-container {
                    display: block;
                    margin-bottom: 0.5rem;
                    margin-top: 1.5rem;
                }
            }
        }

        .help-link-container {
            margin-bottom: 1rem;
            display: flex;
            .help-icon{
                text-align: right;
            }
            .lang-change{
                float: left;
              }
        }

        .error-text {
            display: block;
        }


        .mobile-footer {
            display: block;
            margin-bottom: 1.5rem !important;
        }
        .browser-block-container{
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .auth-form-footer {
        .main-footer{
            padding-left: 0px !important;
            .row {
                // margin-top: 0rem !important;
                .col-12{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}


/* Mobile Styles */
@media only screen and (max-width: 812px) and (max-height:400px) and (orientation: landscape) {
    .main-content {

        .sso-content,
        .temp-content {
            .width-l-fit{
                margin: 0 auto !important;
                width: 65% !important;
            }
            .width-p-auto{
                margin: 0 !important;
                width: auto !important;
            }
            .sso-form,
            .temp-form {
                margin: 0 auto;
                width: 65%;
            }
        }
    }
}

@media only screen and (max-width: 325px) and (orientation: portrait){
    .main-content {
                .browser-block-container{
                    width:100% !important;
                    .browser-block-content{
                        .special-message{
                            width: 10rem !important;
                        }
                        .app-store-container{
                            .android-playstore{
                                margin-left: 0.5rem !important;
                            }
                        }
                    }
                }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 661px) and (max-width: 960px) and (orientation: portrait) {
    .main-content {

        .sso-content,
        .temp-content {
            .sso-form,
            .temp-form {
                margin: 0 auto;
                width: 65%;
            }
        }
    }
}
@media only screen and (min-width: 961px) and (max-width: 1194px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
    .main-content {
        .error-chk{
            padding-top: 3rem;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
    .main-content {
        .error-chk{
            padding-top: 3rem;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
    .main-content {
        .error-chk{
            padding-top: 3rem;
        }
    }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .main-content {
        padding: 0;

        .error-text {
            margin: -2.73rem auto -8rem auto;
            width: 100%;
            left: 0;
            position: absolute;
            right: 0;
            //z-index: 1;
        }
        .isScrollChk{
            width: 97% !important; 
        }
        .error-chk{
            margin: 11.2rem 6.5rem 0 5.5rem !important;
        }
        .sso-content {
            margin-top: 2rem;
            min-height: calc(90vh - 12.5rem);
            .sso-form,
            .temp-form {
                margin: 0 auto;
                width: 35%;
            }
        }

        .temp-content {
            min-height: calc(90vh - 10.5rem);
            .sso-form,
            .temp-form {
                margin: 0 auto;
                width: 35%;
            }
        }
    }
}
// @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
//     .main-content {
//         .help-link-container {
//             margin: 9rem 2rem 0 5.5rem;
//         }
//     }
//   }
 /* Iphone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) { 
    .auth-form-footer {
        top:-1rem;
    }
}
/* Iphone 8plus */
@media only screen and (device-width : 414px) and (device-height :736px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) { 
    .auth-form-footer {
        bottom:0rem;
    }
}
/*Iphone 11 & Iphone 11 max*/
@media only screen and (device-width : 414px) and (device-height :896px) and (orientation : portrait) { 
    .auth-form-footer {
        bottom:2rem;
    }
}
@media only screen and (device-width : 414px) and (device-height :896px) and (orientation : landscape) { 
    .main-content {
        .mobile-logo-container {
            margin-top: 3rem !important;
        }
    }
}
@media only screen and (device-width : 375px) and (device-height :812px) and (orientation : landscape) { 
    .main-content {
        .mobile-logo-container {
            margin-top: 3rem !important;
        }
    }
}
@media only screen and (device-width :834px) and (device-height :1151px) and (orientation : portrait) { 
    .auth-form-footer {
        bottom:-3rem;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 960px) and (orientation:portrait) and (-webkit-device-pixel-ratio: 2){
    /* For portrait layouts only */
    .main-content {
        .auth-form-footer {
            display: block;
            bottom: 1rem;
            position: absolute !important;
            width: 95%;
            .container-fluid{
                padding: env(safe-area-inset);
                display: block;
                .row {
                    margin-left: 0rem !important;
                    margin-right: 0rem;
                    margin-top: 2rem !important;
                    .col-12{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }        
  }
  @media only screen and (min-device-height: 401px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-device-pixel-ratio: 2){
    /* For landscape layouts only */
    .main-content {
        .auth-form-footer {
            // position: absolute;
            .main-footer{
                padding-left: 2rem;
            }
        }
    }        
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
          .auth-form-footer {
              bottom: -1rem !important;
          }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .main-content {
        .auth-form-footer{
            .row{
                display: block;
                position: absolute;
            }
        }
    }
}
