.main-content{
	margin: 0 1rem 0 11rem;
	padding: 5.25rem 2rem .625rem;
	.temp-content, .sso-content {
			.row{
				
				.col-form-label{
					font-size: .8125rem;
					font-weight: bold;
				}
				.enable{
					opacity: 1;
					pointer-events: all;
				}
				.disable{
					opacity: 0.5;
					pointer-events: none;
				}
				.login-submit{
					background: #006ba6;
					cursor: default;
					color: #FFF;
					height: calc(1.5em + .75rem + 2px);
				}
				.member-head-msg{
					font-family: Arial, sans-serif;
					font-size: 1.75rem;
					font-weight: 700;
				}	
				p{
					font-size: 0.75rem;
				}
				.textindent{
					text-indent: 0.6rem;
				}
			}	
	  }
}
  