.header-content {
    height: 3.75rem;
    background-color: #bb1654;
    color: #FFFFFF;
    padding: 0 0.625rem;
    position: fixed;
    width: 100%;
    z-index: 1;

    small {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 960px) {
    .header-content {
        display: none;
    }
}