.header-content {
    min-height: 4.90rem;
    background-color: #FFFFFF;
    color: #006ba6;
    padding: 0 0.625rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    user-select: none;

    .banner-content {
        display: flex;
        margin-left: 20px;
        .title {
            font-size: 2rem;
            margin: 1.7rem 0;

            .sub-title {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .logo {
            background: url('../../assets/TPMG.svg') no-repeat;
            height: 5.625rem;
            width: 5.625rem;
            margin: 1.25rem 0.5rem 1.25rem 0;
            background-position: center;
        }
    }

    .user-details {
        margin-left: -4.7rem;
        // padding: 2.5rem 0;

        ul {
            list-style: none;
            padding: 2.5rem 0;

            .user-name {
                display: inline-block;
                width: calc(100% - 11.403rem);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: bottom;
                color: #000000;
            }
            li {
                display: inline-block;
                padding: 0 0.5rem;
                .help-link {
                    color: #006ba6;
                    outline: none;
                    text-decoration: none;
                }

                .sign-off {
                    cursor: pointer;
                }
                .lang-change{
                    color: #006ba6;
                    cursor: pointer;
                    .divider{                      
                      padding-right: 0.5rem;                      
                    }
                    .spanishlabel{
                        padding-left: 0.5rem;
                    }
                  }                  
            }
            .lang-trans{
                padding-top: 3px;
            }
        }
    }
}
.bmargin {
    border-bottom: solid 1px #E5E5E5;
    width: 100%!important;
    // left: 35px!important;
}

@media only screen and (max-width: 960px) {
    .header-content {
        display: none !important;
        .user-details {
            margin-left: -4.7rem;
            // padding: 2.5rem 0;
    
            ul {
                list-style: none;
                padding: 2.5rem 0;
    
                .user-name {
                    display: inline-block;
                    width: calc(100% - 11.403rem);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    vertical-align: bottom;
                    color: #000000;
                }
                li {
                    display: inline-block;
                    padding: 0 0.5rem;
                    .help-link {
                        color: #006ba6;
                        outline: none;
                        text-decoration: none;
                    }
    
                    .sign-off {
                        cursor: pointer;
                    }
                    .lang-change{
                        color: #006ba6;
                        cursor: pointer;
                        float: left;
                        .divider{                      
                          padding-right: 0.5rem;                      
                        }
                        .spanishlabel{
                            padding-left: 0.5rem;
                        }
                      }                  
                }
                .lang-trans{
                    padding-top: 3px;
                }
            }
        }
    }
}