.header-content {
    min-height: 4.90rem;
    background-color: #FFFFFF;
    color: #006ba6;
    padding: 0 0.625rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    user-select: none;

    .banner-content {
        display: flex;

        .title {
            font-size: 1.5rem;
            margin: auto 0;

            .sub-title {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .logo {
            background: url('../../assets/TPMG.svg') no-repeat;
            height: 5.625rem;
            width: 5.625rem;
            margin: 1.25rem 0.5rem 1.25rem 0;
            background-position: center;
        }
    }

    .user-details {
        margin-left: -2rem;
        padding: 2.5rem 0;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 0.5rem;

                .help-link {
                    color: #006ba6;
                }

                .sign-off {
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .header-content {
        display: none!important;
    }
}