<?xml version="1.0" encoding="UTF-8"?>
<configuration>    
    <property name="LOG_FILE" value="/usr/local/middleware/tcservervv/logs/vvm-webapp.log" />
    
	<property file="/usr/local/middleware/tcservervv/conf/appconf/vvm/videovisit.properties" />
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${LOG_FILE}</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <!-- daily rollover -->
	        <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
	    </rollingPolicy>
	    <encoder>
		    <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level [%logger{50}.%M\(%line\)] - %msg%n</pattern>
		</encoder>
	</appender> 
    <!-- LOG everything at INFO level -->
    <logger name="org.kp.tpmg.common" level="${logging.level.root}">
		<appender-ref ref="FILE"/>
	</logger>
    <logger name="org.kp.tpmg.ttg.webcare.videovisits.member.web" level="${logging.level.root}" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.kp.tpmg.ttg.telehealth.dynamicpropertyloader" level="${logging.level.root}" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
</configuration>