/* normalize.css */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-spacing:0;
	border-collapse:collapse;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight:normal;
	font-style:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:100%;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}

/* normalize.css END */

a {
	text-decoration: none;
}

html {
	font-size: 62.5%; /* resets 1 rem to 10px */
		-webkit-user-select: none;
}

body {
	background-color: #F1F2F2;
	color: #3E3E40;
	font-size: 16px;
	font-family: "Open Sans";
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	line-height: 18px;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}

h2 {
	font-weight: bold;
	font-size: 17px;
}

h3 {
	margin-bottom: 4px;
	font-weight: bold;
}

p {
	font-size: 15px;
}

a:link,
a:visited {
	color: #1885F2;
}

.getAppLink{
	color: #1885F2;
	cursor:default;
}

strong {
	font-weight: bold;
}

button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.header-title,
.scrollup,
.button-close {
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-size: 520px;
}

.header {
	z-index: 1000;
	padding-top: 5px;
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #BB1654;
	background-color: #BB1654;
	text-align: center;
}

.header-title {

	display: inline-block;
	margin-top: 3px;
	width: 192px;
	height: 31px;
	background-position: 0 0;
	content: "";
}

.scrollup {
	position: fixed;
	right:12px;
	bottom: 12px;
	z-index: 1000;
	display:none;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(20,30,40,.20);
	border-radius: 5px;
	background-color: rgba(20,30,40,.3);
	background-position: -9px -134px;
	content: "";
}

.icon-logout {
	float: left; 
	margin-top: -7px;
	margin-left: -2px;
	width: 28px;
	height: 28px;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -213px -81px;
	background-size: 520px; 
	opacity: .8;
}

.main-window {
	position: absolute;  
	/* top: 0; */
	width: 100%; 
	/* height: 100%; */
	/* background-color: #F1F2F2; */
}

.btn-nav {
	display: inline-block;
	padding-right: 7px;
	padding-left: 7px;
	width: 40px;
	height: 34px;
	border-width: 0;
	border-color: rgba(0,0,0,.25);
	border-radius: 4px;

	background-image: -webkit-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -moz-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -o-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -ms-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);

	-webkit-box-shadow: rgba(0, 0, 0, 0.449219) 0 2px 1px -1px inset, rgb(0, 0, 0) 0 0 1px 0 inset, rgba(255, 255, 255, 0.167969) 0 1px 0 0;
	text-shadow: rgba(0, 0, 0, 0.347656) 0 -1px 0;
	font-size: 16px;
	line-height: 15px;
	-webkit-user-select: none;
}

.btn-logout {
	position: absolute;
	right: 5px;
}

.page-content {
	position: relative;
	/*margin-bottom: 10px;*/
	padding: 30px;
	min-width: 280px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 5px rgba(0,0,0, .4);
}
.special-message-banner-container{
	margin: 0px auto 20px;
    border-radius: 15px;
    background-color: #F9E7E6;
    width: 100%;
	display: none;
}
.special-message-banner-container .special-message-header{
	background-color: #B63125;
	color: #FFFFFF;
	padding: 11px 20px;
	border-radius: 15px 15px 0px 0px;
	font-weight: bold;
	font-size: 15px;
}
.special-message-banner-container .special-message-header .warning-text{
	display: inline-block;
	height: 17px;
	line-height: 19px;
	vertical-align: middle;
	font-size:1.2rem;
}
.special-message-banner-container .special-message-content{
	display: flex;
	padding: 20px;
}
#browser-block-message{
	font-size: 1.2rem;
}
.special-message-banner-container .special-message-content .special-message-container{
	font-size: 15px;
	margin-right: 30px;
}
.special-message-banner-container .special-message-content .special-message-container .special-message{
	margin: 2px 0px;
	width: 100px;
}
.special-message-banner-container .special-message-content .app-store-container{
	width: 50%;
}
.special-message-banner-container .special-message-header .warning-icon{
	background: url(../../../images/global/warning-icon.png) no-repeat center center;
	display: inline-block;
	height: 17px;
	width: 20px;
	vertical-align: middle;
	margin-right: 5px;
	background-size: cover;
}
.special-message-banner-container .special-message-content .special-message-container .mdo-logo{
	background: url(../../../images/global/mdo-icon.png) no-repeat center center;
	display: inline-block;
	height: 40px;
	width: 40px;
	vertical-align: middle;
	margin: auto 20px;
	background-size: cover;
}
.icon-link{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.ios-appstore{
	background: url(../../../images/global/appstore.png) no-repeat center center;
	display: inline-block;
	height: 36px;
	width: 129px;
	margin-bottom: 10px;
	vertical-align: middle;
	margin-right: 20px;
	background-size: cover;
    border-radius: 3px;
}
.android-playstore{
	background: url(../../../images/global/playstore.png) no-repeat center center;
	display: inline-block;
	height: 36px;
	width: 129px;
	vertical-align: middle;
	background-size: cover;
    border-radius: 3px;
}

.hideMe {
	visibility:hidden;
}

.showMe {
	visibility: visible;
}

footer {
	padding: 15px 5px;
	min-width: 300px;
	color: #676767;
}

footer p {
	text-shadow: 0 1px 0 white;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
}

.full-site-button {
	margin-top: 8px;
	margin-bottom: 10px;

	padding: 8px 12px 9px 12px;
	width: 150px;
	border: solid 1px rgba(255,255,255, .5);
	border-radius: 4px;
	background-color: #FBFBFB;
	box-shadow: inset 0 0 2px rgba(0,0,0,.4);
	color: #717174;
	text-align: center;
	text-shadow: 0 1px 0 #ffffff ;
	font-weight: bold;
	font-size: 14px;

}

.well {

	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;

	padding: 10px;

	min-height: 20px;
	border-radius: 3px;
	background-color: #F6F7F7;
	box-shadow: inset 0 0 3px hsla(0,0%,0%, .25);
	font-size: 15px;
}

.well p {

	padding-bottom: 9px;
	font-size: 15px;
	line-height: 19px;
}

p.disclaimer{
	text-align: center;
/* 	margin: 10px 0; */
}

/* - - - - - - - - MODALS - - - - - - - - */

.modal {
	position: absolute;
	z-index: 3000;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}

.fixed{
	position: fixed;	
}

.modal-window {
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	width: 270px;
	border-radius: 4px;
	background-color: #E7E7E7;
	box-shadow:
		0 0 0 1px #F1F1F1,
		0 0 0 2px #C0C0C0,
		0 0 0 6px white,
		0 1px 9px 6px rgba(0,0,0,.8);
	text-align: left;
}

.modal-window .button-close { 
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	width: 30px;
	height: 28px;
	border: solid 1px #ffffff;
	border-radius: 3px;
	background: #5A5D5F url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right;
	background-position: -149px -80px;
	background-size: 520px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.5) inset;
	opacity: 1;
}

.modal-window h1 {
	margin-right: -10px;
	margin-bottom: 10px;
	margin-left: -10px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-shadow:
		0 1px 0 #C0C0C0,
		0 2px 0 white;
}

.modal-window p {
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 18px;
}

.modal-window button {
	margin-top: 8px;
	padding: 8px 12px 8px 11px;
	width: 270px;
	height:auto;
/* 	border: solid 2px #ADADAD; */
/* 	border: solid 2px #404040; */
	border: 2px solid #004075;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	color: white;
	text-align: center;
	text-shadow: none;
/* 	text-shadow: 0 -1px 0 rgba(0,0,0,.5); */
	font-weight: bold;
	font-size: 18px;
}

.modal-window a {
	margin-top: 8px;
	padding: 8px 120px 5px 120px;
	width: 270px;
	height:auto;
	border: solid 2px #ADADAD;
	border: solid 2px #404040;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);
	color: white;
	text-align: center;

	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;
}

.modal-button a {
	color: inherit;
}

.modal-window .disclaimer {

	margin-top: 15px;
	margin-right: -10px;
	margin-left: -10px;

	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;

	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #C0C0C0;
	font-size: 13px;
	line-height: 15px;
}

.app-lockup {
	margin-right: -10px;

	margin-left: -10px;

	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-tap-highlight-color:transparent;  
}

.app-lockup p {
/* 	padding-top: 20px; */
	font-weight: bold;
	font-size: 20px;
	line-height: 18px;
	-webkit-tap-highlight-color: transparent;
}

#app-alert .app-icon {
	float: left;
	margin-right: 12px; 
	margin-bottom: 8px;
	margin-left: 6px;
	width: 72px;
	height: 66px;
	background: url("../../../images/mobile/kppc_icon.png") no-repeat right;
	/*background-position: 0 -40px;*/
	background-size: 66px;
	-webkit-tap-highlight-color: transparent;
}

#logout-alert {
	margin-right: -10px;
	margin-left: -10px;
	padding-right: 10px;
	padding-left: 10px;
}

.modal-window .button-primary {
	border: 2px solid #BABABA;
	text-shadow: none;
/* 	text-shadow: 0 -1px 0 rgba(0,0,0,.5); */
	background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: -o-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	background-image: linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
	color: #000000;
}

.modal-window .button-secondary {
	border: 2px solid #004075;

	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	color: #FFFFFF;
/* 	text-shadow: 0 1px 0 rgba(255,255,255,.75); */
	text-shadow: none;
}

button#logout-yes.button-primary{
	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	color: #FFFFFF;
	border: 2px solid #004075;
}

button#pg-logout-yes.button-primary{
	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	color: #FFFFFF;
	border: 2px solid #004075;
}

.modal-window input:required {
	background-color: white;
}


.preloader-modal-window {
	margin-top: 25px;
	margin-right: auto;
	margin-left: 40%;
	padding: 10px;
	width: 50px;
	border-radius: 4px;
	background-color: #E7E7E7;
	box-shadow:
		0 0 0 1px #F1F1F1,
		0 0 0 2px #C0C0C0,
		0 0 0 6px white,
		0 1px 9px 6px rgba(0,0,0,.8);
	text-align: left;
	top: 20%;
	
}

/* - - - - - - - - Login Form - - - - - - - -  */

::-webkit-input-placeholder {
	color: rgb(180,180,180);
}

.form-block {
	/*margin-right: -5px;
	margin-left: -5px;*/
	text-align: left;
}

.form-block li {
	margin-bottom: 0;
	font-size: 16px;
	padding-left: 4px;
}

.form-block input {
	color: #666666;
	padding: 5px 0 5px;
	height: 30px;
	font-size: 15px;
}

.form-block li label {
	margin-top: 8px;
	margin-right: 10px;
	line-height: 32px;
}

.form-block li input {
	
}

.form-block button {
	margin-right: 5px;
	margin-left: 5px;
}

.guest #last_name {
	width:150px;
}

.form-focus {
	background-color: #1885F2;
	color: white;
}

.form-focus label {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.error {
	background-color: #B31A99;
	color: white;
}

.error label {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.failmessage {
	margin: 5px -5px -5px -5px;
	padding: 5px 10px 8px 10px;
	border-radius: 0 0 4px 4px;
	background-color: rgba(0,0,0,.6);
	color: white;
	text-shadow: none;
	font-weight: bold;
	font-size: 15px;
	line-height: 16px;
}

#li_last_name{
	/*border-bottom: 0px;*/
}

#li_mrn{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#li_dob{
	/*border-top: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;*/
}

#last_name {
	width: 100%;
	border-radius: 4px;
	border: 0px;
}

#mrn {
	width: 100%;
	border: 0px;
	/*border-radius: 4px;
	border-top-color: #999;
	border-bottom-color: #999;*/
}

#birth_month,
#birth_day {
	width: 30px;
}

/*#birth_year {
	width: 50px;
}*/

#birth_date {
	border-radius: 0;
	border: 1px solid rgba(0,0,0,0.3);
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#lastNameErrorId, #mrnErrorId, #monthOfBirthErrorId, #yearOfBirthErrorId, #dateOfBirthErrorId{
	background-color: red;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	height: auto;
}

#globalError{
	background-color: red;
	color: #FFFFFF;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
}

/* - - - - - - - - Page Content - - - - - - - - */

.intro {
	display: table;
	width: 100%;
	margin-bottom: 10px;
}

.pic-frame {
	padding: 3px;
	border-radius: 2.5px;
	background-color: white;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .35);
}


/* - - - - - Welcome page - - - - - */

.intro .pic-frame {

	float: right;
	padding: 3px;
	border-radius: 2.5px;
	background-color: white;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .35);
}

.intro .pic-frame .pic {
	overflow: hidden;
	width: 120px;
	height: 78px;
}

.pic img {
	width: 100%;
}

.intro h1 {
	margin-bottom: 6px;
	font-size: 22px;
	line-height: 20px;
}

.intro p {
	font-size: 16px;
	line-height: 19px;
}

/* INSTRUCTIONS AREA - - - -*/

.well.instructions {
/* 	display: table-cell; */
	box-sizing: border-box; 
/* 	padding-top: 12px; */
	padding-top: 0;
	padding-bottom: 1px;
}

.instructions h2 {
	padding-bottom: 4px;
	box-shadow:
		0 1px 0 #D3D3D3,
		0 2px 0 white;
	color: #7C7D80;
/* 	text-shadow: 0 1px white; */
	text-shadow: none;
	font-size: 17px;
	line-height: 14px;
}

ol.instructions {
	counter-reset: li; /* Initiates counter */
}

ol.instructions > li:before {

	float: left; 
	margin-right: 6px; 
	margin-bottom: -10px;

	width: 26px;
	height: 26px;
	border: solid 1px #ffffff;
	border-radius: 3px;
	background-color: #f1f1f1;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.2) inset;
	color: #7b7c7f;
	content:counter(li); /* Using counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	text-align: center;
	text-shadow: 0 1px 0 white;
	font-weight: bold;

	font-size: 20px;
	line-height: 24px;
}

ol.instructions >li.bold:before{
	color: black;
}

ol.instructions >li.bold{
	font-weight: bold;
	color: black;
}

.instructions li {
	position: relative;
	display: table-cell;
	box-sizing: border-box;

	margin-top: -9px;
	margin-right: -10px;
	margin-left: -10px;
	padding-top: 12px;

	padding-right: 10px;
	padding-bottom: 20px;
	width: 30%;

	height: 80px;
	font-size: 16px;
	line-height: 20px;
}

.instructions span {
	display: table-cell;
}

.instructions li:not(:first-of-type) {
	margin-right: 30px;
	padding-left: 10px;
	box-shadow:
		-1px 0 0 white,
		-2px 0 0 #D9D9D9;
} 

.instructions li:last-of-type {
	padding-right: 0;
}

.instructions .img-connection{
	float: right;
	width: 60px;
	height: 56px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -247px 0;
	background-size: 520px;
	
}

.instructions .img-app {
	float: right;
	margin-top: 4px;
	margin-right: 3px;
	margin-left: 10px;
	width: 55px;
	height: 55px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: 0px -30px;
	background-size: 410px;
	
}

.instructions .img-headphones {
	float: right;

	width: 60px;
	height: 56px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -310px 0;
	background-size: 520px;
	
}

.twoColumns.instructions li{
	width: 50%;
}

.button-get-app {
	margin-top: 8px;

	padding: 3px 20px 4px 20px;
	border: none;
	border-top: solid 1px white;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: -moz-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	background-image: linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
	-webkit-box-shadow: 0 0 0 1px #ADADAD;
	box-shadow: 0 0 0 1px #ADADAD;
	color: #616161;
	text-transform: uppercase;
	text-shadow: 0 1px 0 white;
	font-weight: bold;
	font-size: 14px;
}

.button-main {
	margin-bottom: 12px;
	padding: 8px 62px;

	border: solid 2px #404040;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
	background-image: linear-gradient(top, #777777 0%, #232323 100%);

	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
}


.alert-logout .button-main {
	margin-top: 12px;
	margin-bottom: 0;
	padding-right: 32px;
	padding-left: 32px;
}

.button-main.only-handsets  {
	width: 100%;
}

.landing-page-wrapper .button-main {
	margin-top: 18px;
	padding: 12px 20px;
}

.landing-page-wrapper p {
	margin-bottom: 10px;
}

li#btnPatient.button-main{
	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	border: 2px solid #004075;
}

li#btnPG.button-main{
	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
	border: 2px solid #004075;
}

/* - - - - - - - - Visits - - - - - - - - */

.visits h1 {
margin-top: -2px;
margin-bottom: 8px;
text-align:left;
padding:0 0 20px; 
font-size:38px;
font-weight:normal; 
line-height:1em; 
color:#333333;
}
.alert {

	position: relative;

	margin-right: 0px; 
	margin-bottom: 10px;
	margin-left: 0px;

	padding: 10px 20px 10px 10px;
	min-height: 36px;

	border-radius: 3px;

	background-color: #FFF08D;
	box-shadow: inset 0 0 0 1px #F4D96D;

	color: #7E5829;
	font-size: 15px;
	line-height: 18px;
	-webkit-tap-highlight-color:transparent;
}

.alert.hideable:after { 
	 position: absolute;
	top: 3px; 
	right: 3px;
	margin-bottom: 2px;
	margin-left: 2px;
	width: 16px;
	height: 18px;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -188px -78px;
	background-size: 520px;
	content: "";
}

.alert-hero.alert-time .image {
	float: left;
	margin-top: -6px;
	margin-right: 5px;
	margin-left: -3px;
	width: 38px;
	height: 50px;
	background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat blue;
	background-position: -50px -24px;
	background-size: 310px;
}

.alert-hero {
	padding: 30px 10px;
	min-height: 50px;
}

.alert-hero-message {
 	display: table-cell;
	box-sizing: border-box;
	width: 100%;
	vertical-align: middle;
}

.alert-hero.alert-expired .image {
	float: left;
	margin-top: 0px;

	margin-right: 8px;
	margin-left: -2px;
	width: 58px;
	height: 55px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -215px 0;
	background-size: 300px;

	
}

.alert-hero.alert-no-visits .image {
	float: left;
	margin-top: -16px;

	margin-right: 8px;
	margin-left: -2px;
	width: 58px;
	height: 74px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -142px -51px;
	background-size: 300px;

	
}

.alert-hero.alert-logout .image {
	float: left;
	margin-top: -2px;
	width: 58px;
	height: 83px;
	background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
	background-position: -237px -65px;
	background-size: 340px;
}

.patient .meeting h2 {
	margin: 2px 0 10px 0;
	color: #7C7D80;
	font-weight: normal;
}

.meeting .guests {
	margin-top: 11px;
}

.button-launch-visit {
	padding: 6px 4px;

	width: 154px;

	border: solid 2px #004075;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -ms-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);

	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;

	-webkit-transform: translate3d(0,0,0);
	-webkit-font-smoothing: antialiased;
}

.button-launch-visit-pg {
	padding: 6px 4px;

	width: 154px;

	border: solid 2px #004075;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: -ms-linear-gradient(top, #0061A9 0%, #004075 100%);
	background-image: linear-gradient(top, #0061A9 0%, #004075 100%);

	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	font-weight: bold;
	font-size: 18px;

	-webkit-transform: translate3d(0,0,0);
	-webkit-font-smoothing: antialiased;
}
.patient .pic-frame {

	float: left;

	margin-right: 10px;
	padding: 3px;
	border-radius: 2.5px;
	background-color: white;
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .35);
}

.patient .pic-frame .pic {
	overflow: hidden;
	width: 65px;
	height: 78px;
}

.patient .time {
	padding-bottom: 3px; 
	color: #3E3E40;
	font-size: 16px;
	line-height: 16px; 
}

.patient .host-name {
	padding-bottom: 7px;
	font-weight: bold;
	font-size: 17px ; 
}

.patient .button-launch-visit {
	width: 150px; 
}
.patient .button-launch-visit-pg {
	width: 150px; 
}

.meeting .additional-participants li {
	 display: inline;  
}

.meeting .additional-participants li:not(:last-child):not(:first-child):not(.section):after {
	content: "; ";
}

.meeting .additional-participants .section {
	 font-weight: bold; 
}

.hide-me {
	display: none;
}




/* Page refresh button and timestamp on visits page*/

.refresh-page {
	margin-top: 6px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
	padding: 4px 7px 5px 8px;
	width: 250px;
	border: solid 1px rgba(255,255,255, 1);
	border-radius: 22px;
	background-color: rgba(0,0,0,.03); 
	box-shadow: inset 0 0 3px hsla(0,0%,0%, .25);
	text-shadow: 0 1px 0 white;
}

.refresh-page h2 {
	color: #67686B;
	font-size: 15px;
}

.refresh-page p {
	padding-bottom: 4px;
	color: #67686B;
	font-size: 13px;
	line-height: 13px;
}

.refresh-page.touched {
	background-color: white;
	box-shadow: inset 0 0 4px hsla(0,0%,0%, .4);
}

.refresh-page.touched h2:before {
	background-position: -151px -125px;
	-webkit-transform: scale(.9);
}

/* Terms and Conditions page */

.legal {font-size: 14px;}

.legal p,
.legal h1,
.legal h2 {margin-bottom: 5px;}

/* Terms and Conditions page END */

.btn-nav-new {
	padding-top: 8px;
	padding-right: 9px;
	padding-left: 9px;
	height: 34px;
	border-width: 0;
	border-color: rgba(0,0,0,.25);
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -moz-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: -o-linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	background-image: linear-gradient(top, rgb(102,102,102) 0%, rgb(35,35,35) 100%);
	-webkit-box-shadow: rgba(0, 0, 0, 0.449219) 0 2px 1px -1px inset, rgb(0, 0, 0) 0 0 1px 0 inset, rgba(255, 255, 255, 0.167969) 0 1px 0 0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
}

.btn-nav-new .label {
	 display: none;
	margin-right: 2px; 
	margin-left: 3px; 
	color: white;
	text-shadow: rgba(0, 0, 0, 0.35) 0 -1px 0;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 12px;
	opacity: .6; 
}

.patient .meeting .additional-participants {

	margin-top: 12px; 
	margin-right: -10px;
	margin-left: -10px;
	padding-top: 5px; 
	padding-right: 10px;
	padding-left: 10px;
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #D8D8D8;
	font-size: 15px;
	line-height: 18px;
}

/* - - - - - - - - PATIENT DOWNLOAD APP PAGE - START - - - - - - - - */
#content-window{
	background: url('../../../images/mobile/bkgrnd.png') no-repeat center center;
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	font-weight: HelveticaNeue;
	font-size: 20px;
}

#content-window img{
	position: absolute;
	/*width: 50%;*/
	bottom: 0;
}

#contents{
	padding: 30px 20px;
}

#contents h1{
	font-size: 20px;
}

#contents p{
	font-size: 14px;
	margin: 10px 0;
	color: #191919;
}

#contents button{
	float: right;
	color: #006BA6;
	border: 1px solid #006BA6;
	border-radius: 3px;
	font-size: 18px;
	width: 130px;
	height: 45px;
	background-color: #FFFFFF;
}
/* - - - - - - - - PATIENT DOWNLOAD APP PAGE - END - - - - - - - - */





/* HANDSETS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

@media all and (orientation:portrait){
	#content-window img{
		width: 50%;
	}
}

@media all and (orientation:landscape){
	#content-window img{
		width: 15%;
	}
}

@media only screen
and (min-width: 480) 
and (max-width: 639px) {

}

@media only screen 
and (max-width: 519px) {

.provider .meeting .data {
	margin-left: -9px;
	margin-right: -9px;
	padding-left: 9px;
	padding-right: 9px;
}

.provider .meeting .data:not(:first-of-type) {
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #D3D3D3;
}

}


@media only screen 
and (max-width: 639px) {

	/* REFRESH BUTTON AND TIME STAMP - - - - - - - - - */

	.refresh-page h2:before {
		float: left;
		margin-top: 2px;
		margin-right: 3px;
		width: 32px;
		height: 32px;
		background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -152px -125px;
		background-size: 520px;
		content: "";
	}

}

@media only screen 
and (max-width: 767px) {

/* INSTRUCTIONS AREA - - - -*/

	.instructions h2 {
		padding-right: 9px;
		padding-bottom: 12px;
		padding-left: 9px;
		padding-top: 12px;
		box-shadow:
			0 1px 0 #D3D3D3,
			0 2px 0 white;
/* 		color: #7C7D80;
		text-shadow: 0 1px white; */
		text-shadow: none;

		font-size: 17px;
		line-height: 14px;
		
		color: #FFFFFF;
		background-color: #686A6C;
		border-radius: 3px;
	}

	ol.instructions {
		counter-reset: li; /* INITIATES COUNTER */
	}

	ol.instructions > li:before {
		float: left; 
		margin-right: 8px; 
		margin-bottom: -10px;

		width: 26px;
		height: 26px;
		border: solid 1px #ffffff;
		border-radius: 3px;
		background-color: #f1f1f1;
		box-shadow: 0 0 4px 1px rgba(0,0,0,.2) inset;
		color: #7b7c7f;
		content:counter(li); /* USING COUNTER AS CONTENT */
		counter-increment:li; /* INCREMENTS THE COUNTER BY 1 */
		text-align: center;
		text-shadow: 0 1px 0 white;
		font-weight: bold;

		font-size: 20px;
		line-height: 24px;
	}

	.instructions li {
		position: relative;
		display: block;
		box-sizing: border-box;

		margin-top: 1px;
		margin-left: 0;
		padding-top: 7px;

		padding-right: 10px;
		padding-bottom: 20px;
		padding-left: 9px;
		width: 100%;

		height: auto;
		font-size: 15px;
		line-height: 18px;
	}

	.well.instructions {
		display: table;
 		margin-top: 10px;
/* 		padding-top: 12px; */
		padding-top: 0px;
		padding-right: 1px;
		padding-left: 1px;
		width: 100%;
	}

	.instructions span {
		display: table-cell;
		padding: 0 2px 0 2px;
	}

	.instructions li:not(:first-of-type) {
		box-shadow:
			0 -1px 0 white,
			0 -2px 0 #D9D9D9;
	}

	.instructions .img-app {
		margin-top: -5px;
		margin-right: 0px;
		margin-left: 5px;
		width: 47px;
		height: 47px;
		background:  url("../../../images/mobile/video-visit-ui@2x_new_kp.png") no-repeat;
		background-position: -1px -29px;
		background-size: 370px;
		
	}

	.instructions .img-connection{
		margin-top: 0px;
		width: 58px;
		height: 35px;
		background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -120px -25px;
		background-size: 400px;
		
	}

	.instructions .img-headphones {
		margin-top: -4px;
		margin-right: 8px;
		width: 46px;
		height: 40px;
		background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -238px -3px;
		background-size: 400px;

		
	}

	.button-get-app {
		margin-top: 8px;

		padding: 3px 20px 4px 20px;
		border: none;
		border-top: solid 1px white;
		border-radius: 2px;
		background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
		background-image: -moz-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
		background-image: -o-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
		background-image: -ms-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
		background-image: linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
		-webkit-box-shadow: 0 0 0 1px #ADADAD;
		box-shadow: 0 0 0 1px #ADADAD;
		color: #616161;
		text-transform: uppercase;
		text-shadow: 0 1px 0 white;
		font-weight: bold;
		font-size: 14px;
	}

	.button-main {
		margin-bottom: 12px;

		padding: 8px 8px;

		border: solid 2px #404040;
		border-radius: 6px;

		background-image: -webkit-linear-gradient(top, #777777 0%, #232323 100%);
		background-image: -moz-linear-gradient(top, #777777 0%, #232323 100%);
		background-image: -o-linear-gradient(top, #777777 0%, #232323 100%);
		background-image: linear-gradient(top, #777777 0%, #232323 100%);

		color: white;
		text-align: center;
		text-shadow: 0 -1px 0 rgba(0,0,0,.5);
		font-weight: bold;
		font-size: 18px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

		-webkit-font-smoothing: antialiased;
	}
	
	button#signInId.button-main.only-handsets{
		background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
		border: 2px solid #004075;
		width: 48%;
		float: right;
	}
	
	button#signInIdPGHand.button-main.only-handsets{
		background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
		border: 2px solid #004075;
		text-shadow: none;
		color: #FFFFFF;
		width: 48%;
		float: right;
	}

	button#getAppButton.button-main.getAppButton.only-handsets{
		background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: -o-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		border: 2px solid #BABABA;
		text-shadow: none;
		color: #000000;
		width: 48%;
	}
}
/* HANDSETS - - END - - - - - - - - - - - - - - - - - - - - - -  */


@media only screen 
and (min-width: 520px) {

/* MEETINGS - PROVIDER - - - - - - - */ 

.provider .meeting {
	display: table;
	margin-left: 0px; 
	padding: 1px;
	/* min-width: 585px; */   
	min-height: 100px;
	 width: 100%;
}

.provider .launch-button-handler {
	display: table-cell;
	width: 240px;
	vertical-align: middle; 
	text-align: center; 
}

.provider .data {
	padding: 10px;
	padding-top: 6px;
	padding-bottom: 8px;
} 

.provider .meeting .data:not(:first-of-type) {
	box-shadow:
		0 -1px 0 white,
		0 -2px 0 #D3D3D3,
		1px 0 0 #D9D9D9,
		2px 0 0 white;
}

.provider .meeting .data:first-of-type {
	box-shadow:
		1px 0 0 #D9D9D9,
		2px 0 0 white;
}

.provider .data .patient-name,
.provider .data .host-name,
.provider .data h2,
.provider .data ul,
.provider .data ul li {
	display: inline; 
	font-size: 16px;
	line-height: 20px;
}

.provider .data .patient-name {
	font-weight: bold;
	line-height: 26px;
}

.provider .data .scheduled-time { 
	margin-right: 8px;
	padding: 4px 10px;
	border-radius: 3px;
	background-color: rgba(0,0,0,.4);
	box-shadow: inset 0 0 4px hsla(0,0%,0%, .5), 0 0 0 1px white;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,.45); 
}

.provider .meeting .msg-out-of-range {
	margin: 0 30px;
	padding: 12px 12px; 
	border-radius: 3px;
	background-color: rgba(0,0,0,.03);
	box-shadow: inset 0 0 2px hsla(0,0%,0%, .25);
	color: #82838E; 
	text-shadow: 0 1px rgb(255,255,255);
	font-size: 14px;
	line-height: 16px;
}

}

@media only screen 
and (min-width: 640px) {

	/* Refresh button and time stamp - - - - - - - - - */

	.refresh-page {
		position: relative;
		padding-top: 2px;
		padding-right: 0px;
		padding-left: 15px;
		width: 500px;
	}

	.refresh-page h2 {
		display: inline-block;
		font-size: 15px;
		line-height: 36px;
	}

	.refresh-page p {
		display: inline;
		font-size: 15px;
	}

	.refresh-page h2:after {
		float: right;
		margin-top: 4px;
	 	margin-right: 3px;
		margin-left: 11px;
		width: 32px;
		height: 32px; 
		background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -152px -125px;
		background-size: 520px;
		content: "";
	}

}


@media only screen 
and (max-width: 767px) {

	.only-tablets {
	display: none;
	}

	.provider .launch-button-handler {
		width: 180px;
	}

/* 	.provider .meeting .msg-out-of-range {
	margin: 0 15px;
	padding: 12px 12px; 
	background-color: red;
} */

}

@media only screen 
and (max-width: 519px) {

	.provider .launch-button-handler {
	text-align: center;
		width: 100%;
	}
.provider .meeting {
	padding-top: 3px;
}
 .provider .meeting .msg-out-of-range {
/* 		margin: 10px 0 0 0; */
		padding: 9px 12px 12px 12px; 
		border-radius: 3px;
		background-color: rgba(0,0,0,.03);
		box-shadow: inset 0 0 2px hsla(0,0%,0%, .25);
		color: #82838E; 
		text-shadow: 0 1px rgb(255,255,255);
		font-size: 14px;
		line-height: 16px;
	}

	.provider .data {
		padding: 4px 4px 8px 4px;
	} 

	.provider .data .patient-name,
	.provider .data .host-name,
	.provider .data h2,
	.provider .data ul,
	.provider .data ul li {
		display: inline; 
		font-size: 16px;
/* 		font-size: 18px;
		line-height: 22px; */
	}

	.provider .data .patient-name {
		font-weight: bold;
/* 		line-height: 29px; */
	}

.provider .data .patient-name {
	/* font-weight: normal; */
	line-height: 26px;

}

 .provider .data .scheduled-time { 
	margin-right: 6px;
	padding: 2px 6px;
	border-radius: 3px;
	background-color: rgba(0,0,0,.4);
	box-shadow: inset 0 0 4px hsla(0,0%,0%, .5), 0 0 0 1px white;
	color: white;
	text-shadow: 0 1px 2px rgba(0,0,0,.45); 
} 

}

@media only screen 
and (min-width: 520px)
and (max-width: 767px) {

	.provider .meeting .msg-out-of-range {
		margin: 0 15px;
		padding: 12px 12px; 
	}
}

@media only screen 
and (min-width: 480px) {

	.intro .pic-frame {
		margin-left: 15px;
	}

	.page-content {
		margin: 10px;
		padding: 10px;
	/* padding-top: 20px; */
		padding-bottom: 20px;
	}

	.btn-logout {
		right: 10px;
	}

	.header .label {
		display: inline-block;
	}

}


/* TABLETS ONLY - - - - - - - - - -  */

@media only screen 
and (min-width: 768px) {

	.preloader-modal-window {
		margin-left: 50%;
	}
	
	.only-handsets {
		display: none;
	}

	.icon-logout { 
		margin-top: -6px;
		margin-left: -4px;
	}

	.header-title {
		margin-top: 4px;
		width: 508px;
		height: 26px;
		background-position: 0 -274px;
	}

	/* .modal-window {
		margin-top: 20%;
	} */

	.page-content {
	 	padding-top: 18px; 
	}

	.well {
		margin-top: 15px;
		margin-bottom: 15px;
/* 		padding: 11px; */
		border-radius: 3px;
		box-shadow: inset 0 0 3px hsla(0,0%,0%, .4);
	}

	/* mobile app landing page */
	
	.app-landing-page {
		text-align: center;
	}
	
	.landing-page-wrapper {
		width: 380px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	
	.landing-page-wrapper .button-main {
		width: 240px;
		float: none;
		display: inline-block;
	}
	.landing-page-wrapper h1 {
		font-size: 26px;
		line-height: 26px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.landing-page-wrapper p {
		font-size: 20px;
		line-height: 26px;
	}
	
	.landing-page-wrapper .button-main {
		margin-top: 18px;
		padding: 12px 20px;
	}

	/* WELCOME PAGE - - - - - - - - - - */

	.intro {
		margin-bottom: 10px;
	}

	.intro .pic-frame {

		margin-right: 0;
		margin-bottom: 20px;
		margin-left: 30px;

		padding: 5px;
		box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .3);
	}

	.intro .pic-frame .pic {
		width: 380px;
		height: 270px;
	}

	.intro h1 {
		padding-bottom: 4px;
		font-size: 28px;
		line-height: 32px;
	}

	.intro p {
		padding-bottom: 12px;
		font-size: 16px;
		line-height: 20px;
	}
	
	button#getAppButton.button-main.getAppButton.only-tablets{
		background-image: -webkit-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: -moz-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: -o-linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		background-image: linear-gradient(top, #FBFBFB 0%, #E0E0E0 100%);
		color: #000000;
		text-shadow: none;
		border: 2px solid #BABABA;
		width: 40%;
	}
	
	button#signInId.button-main.only-tablets{
		background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
		border: 2px solid #004075;
		width: 40%;
		margin-left: 25px;
	}
	
	button#signInIdPG.button-main.only-tablets{
		background-image: -webkit-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -moz-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: -o-linear-gradient(top, #0061A9 0%, #004075 100%);
		background-image: linear-gradient(top, #0061A9 0%, #004075 100%);
		border: 2px solid #004075;
		width: 40%;
		margin-left: 25px;
	}
	
	div#login-form{
		width: 40%;
		margin:0 auto;
	}

	/* INSTRUCTIONS - - - - */

	.instructions h2 {
		margin-right: -9px;
		margin-bottom: 1px;
		margin-left: -9px;
		padding-top: 15px;
		padding-right: 9px;
		padding-bottom: 15px;
		padding-left: 9px;
		box-shadow:
			0 1px 0 #D3D3D3,
			0 2px 0 white;

		color: #7C7D80;
		text-shadow: 0 1px white;
		font-size: 20px;
		line-height: 14px;
	}

	/* VISITS PAGE - - - - - - - - - - - - - - - - - - */

		.refresh-page {
			position: relative;
			padding-top: 2px;
			padding-right: 10px;
			padding-left: 20px;
			width: 560px;
		}

		.refresh-page h2 {
			display: inline-block;
			font-size: 17px;
			line-height: 38px;
		}

		.refresh-page p {
			display: inline;
			font-size: 17px;
		}

		.refresh-page h2:after {
			float: right;
			margin-top: 5px;
		 	margin-right: 7px;
			margin-left: 15px;
			width: 32px;
			height: 32px; 
			background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
			background-position: -152px -125px;
			background-size: 520px;
			content: "";
		}

	/* PATIENTS ONLY - -  - - - - - - - */

	.visits h1 {
		margin-top: 0;
		margin-bottom: 18px;
		font-size: 38px;
	}

	.meeting.well {
		padding: 1px;
	}

	.patient .pic-frame {
		margin-right: 0;
		padding: 5px;
		box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .3);
	}

	.patient .pic-frame .pic {
		width: 105px;
		height: 120px;
	}

	.patient .pic-frame .pic img{
/* 	margin-top: -10px; */
	height: 100%;
	}

	.patient .time {
		padding-bottom: 8px;
		font-size: 19px;  
	}

	.patient .host-name {
		margin-left: -15px;
		padding-left: 15px;
		font-size: 22px;
	}

	.meeting-block-handler {
		position: relative;
		display: table-cell;
		padding-top: 5px;  
		padding-left: 15px;
		width: 20%;
		height: 155px;
		vertical-align: middle;
	}

	.patient .button-launch-visit {
		 width: 180px; 
	}
	.patient .button-launch-visit-pg {
		 width: 180px; 
	}
	

	.patient .meeting .additional-participants {
		display: cell;
		margin-right: 0px;
		margin-left: -15px;
		padding-top: 8px;
		padding-right: 15px;
		padding-left: 15px;
		box-shadow:
			0 -1px 0 white,
			0 -2px 0 #D8D8D8;
		font-size: 16px;
		line-height: 21px;
	}

	.meeting .pic-frame {
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: 15px;
	}

	.patient .launch-button-handler {
		float: right;
		margin-left: 1px;
		padding-top: 54px;
		min-width: 230px;
		min-height: 105px;
		box-shadow:
			-1px 0 0 #D9D9D9,
			-2px 0 0 white;

		text-align: center;
	}

	.button-launch-visit {
		padding-top: 8px;
		padding-bottom: 10px;
		width: 180px;
		font-size: 20px;
	}
	.button-launch-visit-pg {
		padding-top: 8px;
		padding-bottom: 10px;
		width: 180px;
		font-size: 20px;
	}

	.alert {
	 	display: table;
	width: 100%;
	vertical-align: middle; 
	}

	.alert p {
		text-align: center;
		font-size: 18px;
		line-height: 22px;
	}

	.alert.hideable:after { 
		position: absolute;
		top: 6px; 
		right: 6px;
		margin-bottom: 2px;
		margin-left: 2px;
		width: 16px;
		height: 18px;
		background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -185px -95px;
		background-size: 520px;
		content: "";
	}

	/* NON-VISIT ALERTS - - - - - - - */

	.alert-hero h1,
	.alert-hero p{
		margin-right: 20px;
		text-align: left;
		font-size: 22px;
		line-height: 26px;
	}

	.provider .data {
		padding: 10px;
	} 

	.provider .data .patient-name,
	.provider .data .host-name,
	.provider .data h2,
	.provider .data ul,
	.provider .data ul li {
		display: inline; 
		font-size: 18px;
		line-height: 22px;
	}

	.provider .data .patient-name {
		font-weight: bold;
		line-height: 29px;
	}

	.alert-hero {
		margin-bottom: 20px;
		padding: 30px 0px;
		height: 100px;
		border-radius: 3px;
		background-color: #FFF08D;
		box-shadow: inset 0 0 0 1px #F4D96D;
		text-align: left;
	}

	.alert-hero.alert-time .image {
		float: left;
		margin-top: -6px;
		margin-right: 5px;
		margin-left: -3px;
		width: 38px;
		height: 50px;
		background: url("../../../images/mobile/video-visit-ui@2x.png") no-repeat right blue;
		background-position: -50px -24px;
		background-size: 300px;
	}

	.alert-hero.alert-no-visits .image {
		margin-top: 0px;

		margin-right: 20px;
		margin-left: 30px;

		width: 99px;
		height: 126px;
		background-position: -247px -90px;
		background-size: 520px;
	}

	.alert-hero.alert-expired .image {
		margin-top: -15px;
		margin-right: 20px;
		margin-left: 30px;

		width: 98px;
		height: 88px;
		background-position: -375px 0;
		background-size: 520px;
	}

	.alert-hero.alert-logout .image {
		float: left;
		margin-top: -10px;
		margin-right: 20px;
		margin-left: 30px;

		width: 99px;
		height: 138px;
		background:  url("../../../images/mobile/video-visit-ui@2x.png") no-repeat;
		background-position: -350px -90px;
		background-size: 520px;
	}

	footer {
		padding-right: 15px;
		padding-left: 15px;
	}

	footer p {
		font-size: 14px;
		line-height: 18px;
		text-align: center;
	}

	.hide-me {
		display: none;
	}
}
/*======= US14882 =======*/
/*======= US15510 start=======*/
.mobile-patient-guest-meeting-container{
  padding: 0 0 20px;
  border-bottom: 1px solid #D4D4D5;
  background-color: #FFFFFF;
}
/*======= US15510 end=======*/
.landing-portal-single-container {
  padding: 0 0 20px;
  border-bottom: 1px solid #D4D4D5;
  background-color: #FFFFFF;
}
/*US18235 Running Late:*/
.running-late-indicator{
	background-color: #ffe3c2;
	padding: 12px;
	font-size: 15px;
	text-align: center;
	margin: 15px 0px 15px 0px;
	height:45px;
	font-family: "Open Sans";
	color:black
}
.patient-msg {
	margin-top:25px;
}
.circle-image {float:left; width:55px!important; height: 55px; border-radius: 55px;margin-right: 20px;}

.names-container-member {
  margin:0 0 12px 0;
  overflow:hidden;
}
.names-container-member > span.label {
  float:left;
  font-size:14px;
}
.names-container-member > span.names {
  float:left;
  width:200px;
  margin-left:12px;
}
.names-container-member > span.names a,
.names-container-member > span.names span {
  display: block;
  margin-bottom: 1px;
  color: black;
  word-wrap: break-word;
}

.meeting-details-container .top{
	
}

.meeting-details-container .middle{
	margin-top: 20px;
	overflow: auto;
}

.meeting-details-container .bottom{
 	margin: 20px 0px !important;
}

.meeting-details-container .middle .image-holder{
	float: left;
	min-height: 60px;
}

.meeting-details-container .middle .info-holder{
	min-height: 60px;
	vertical-align: center;
}

.meeting-details-container .middle .name-and-details{
	font-weight: bold;
	word-break: keep-all;
 }

 .meeting-details-container .middle .department-details{
	text-transform: capitalize;
	word-break: keep-all;
 }

 .meeting-details-container .joinNowButton{
	width: 100% !important;
	height: 45px !important;
	border: 1px solid #1A7CBD !important;
	background-color: #ffffff !important;
	color: #1A7CBD !important;
	padding: 0px!important;
	border-radius: 0px!important;
	background: none!important;
	text-align: center;
	text-shadow: none !important;
	font-weight: normal !important;
	-webkit-transform: none !important;
	-webkit-font-smoothing: none !important;
	font-size: 18px !important;
    margin-top:25px;
}

.meeting-details-container .not-available{
	width: 100%;
	height: 45px;
	border: 1px solid #999999;
	background-color: #999999;
	color: #FFFFFF;
	opacity: 0.5;
	pointer-events: none;
	font-size:14px;
}
/*======= US14882 =======*/

/* ======== US23591 (MDOa mobileweb to match app - sign in update) ======= */
.mobile-patient-light-authentication{
	background-color: #FFFFFF;
	padding:0px 35px 10px 35px;
	font-size: 16px !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.mobile-patient-light-authentication-error{
	background-color: #B63125 !important;
	padding: 10px 16px !important;
	color: #FFFFFF !important;
	font-weight: 600!important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px!important;
	letter-spacing: -0.2px;
}
.mobile-patient-light-authentication-sub-header{
	min-height: 50px;
	text-align: center;
	color: #003B71;
	background-color: #F2F7FB;
	line-height: 50px;
	font-size: 16px !important;
	margin: 0 -35px;
}
.mobile-patient-light-authentication-info{
	color: #333333;
	font-size: 18px !important;
	font-weight: bold;
	padding-top: 69px;
	letter-spacing: -0.2px;
}
.mobile-patient-light-auth-label{
	color: #333333 !important;
	margin-top: 22px!important;
	margin-bottom: 4px!important;
	/*font-weight: 600;*/
	font-size: 14px!important;
	letter-spacing: 0.1px;
}
.mobile-patient-light-auth-inputfield{
	border-width: 0px 0px 1px 0px !important;
    border-bottom: solid 1px #C8C7C7 !important;
    border-radius: 0px !important;
    color: #666666 !important;
    font-size: 16px!important;
    letter-spacing: 0.2px;
}
.mobile-patient-light-auth-sigin-container{
	margin: 0 auto;
	margin-top: 51px;
	text-align: center;
}
.mobile-patient-light-auth-sigin-button{
	margin: 0 auto;
	background-color: #1F70A7;
	color: #FFFFFF;
	min-width: 150px;
	font-size: 20px;
	border-radius: 4px;
    border: none;
    padding: 10px 20px;
    opacity:0.7;
}
.mobile-patient-light-auth-disclaimer{
	padding: 18px 16px;
	background-color: #F2F7FB;
	color: #333333;
	border-top: solid 1px #C6CDD2;
	margin: 20px -35px -20px -35px;
    /* margin-top: 20px*/
    text-align: left!important;
    font-size: 16px!important;
}
.container-native{
  	width: 300px;
	height: 50px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.container-native h1{
    text-align: center;
}
/* ======== US23591 (MDOa mobileweb to match app - sign in update) ======= */
::-webkit-input-placeholder {
  color: #666666;
}
/* Gecko */
::-moz-placeholder {
  color: #666666;
}
/* Trident */
:-ms-input-placeholder {
  color: #666666;

}