html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    /*position: fixed;*/
    width:100%;
    height: 100%;
    bottom: 27px;
}

.videoWrapperSmall {
    position:relative;
	width:100%;
	height:1%;
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.videoWrapperFull {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
	height:99%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.videoFull{
    position: relative;
    width:100%;
	height:100%;
    max-width: 100%;
    max-height: 100%;
    background: black;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.buttons {
    /*position: fixed;*/
    width:100%;
    height: 24px;
	bottom: 0px;
    /*padding-top: 3px;*/
}

.stop-share-button{
	background: #FF0000; 
	border: currentColor; 
	border-image: none; 
	left: 50%; 
	top: 0px; 
	width: 125px; 
	display: none;
	height: 30px; 
	color: #FFFFFF; 
	border-radius: 0px 0px 5px 5px;
	position: fixed;
}

.disable-button-with-opacity{
	opacity: 0.5!important;
	pointer-events: none!important;
}

/* Commented by PHANI */

/*.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle; 
}
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc; 
}
.button:active {
   border-top-color: #1b435e;
   background: #1b435e; 
}*/

#js-progressbar-container {
        position: relative;
        width: 300px; 
        /*padding: 20px 5px 20px 5px; /* Space for progresbar-texts */
        background-color: transparent;
}

.splash {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 100px 0;
}

/* Badge related styles */
.superscript {
	font-size: xx-small;
	vertical-align: top;
	display: inline;
}

.overlap-to-left {
	margin-left: -2px;
}

.subscript {
	font-size: xx-small;
	vertical-align: bottom;
}

.small-font {
	font-size: small;
}

.btn-vertical {
	float: right;
	margin-top: 0px;
	margin-bottom: 3px;
}

.btn-vertical:last-child {
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
}
/* End Badge related styles */
#errorWrapper {
	z-index: 1000;
}

#pluginContainer {
	position: relative;
	height: 370px;
}

#pluginContainer.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 260px;
	height: auto;
}

#pluginContainer.off {
	position: relative;
	width: 1px;
	height: 1px;
}

#pluginContainer.maximized {
	height: 560px;
}

#pluginContainer.fullscreen.maximized {
	bottom: 70px;
	height: auto;
}

#pluginContainer.fullscreen.maximized.nochat {
	bottom: 20px;
	height: auto;
}

/*#pluginContainer {
    width: 100%;
    min-width: 800px;
    margin: 0;
    padding: 0;
    min-height: 1px;
    display:inline;
}

#pluginContainer.fullscreen {
    min-width: 800px;
    margin: 0;
    padding: 0;
    min-height: 1px;
    position: absolute;
    left: 59px;
    right: 0px;
}*/
#pluginAndChatContainer {
	width: 100%;
	min-width: 800px;
	margin: 0;
	padding: 0;
	min-height: 1px;
	display: inline;
}

#pluginAndChatContainer.fullscreen {
	min-width: 200px;
	margin: 0;
	padding: 0;
	min-height: 1px;
	position: absolute;
	left: 59px;
	right: 0px;
}

#inCallContainer {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	min-width: 1181px;
	width: 1181px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display: block;
}

#inCallContainer.fullscreen {
	width: auto;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	min-height: 400px;
	min-width: 770px;
}

#vidyoPlugin {
	min-width: 1px;
	min-height: 1px;
	/*    width: 1px;
    height: 1px;*/
	width: 100%;
	height: 100%;
	z-index: -1;
}

#vidyoPlugin.minimized {
	min-width: 1px;
	min-height: 1px;
}

#vidyoPlugin.fullscreen {
	width: 100%;
	height: 100%;
}



.inCallParticipant .inCallChatLink:hover {
	text-decoration: none;
}

.inCallParticipant>.btn-toolbar {
	margin: 0;
	z-index: 100;
	vertical-align: middle;
	display: inline-block;
	padding: 0px;
	border: 0;
}

.inCallParticipant .inCallParticipantNameDiv {
	display: inline-block;
	width: 200px;
	z-index: 1;
	text-overflow: ellipsis;
	overflow: hidden;
}

.inCallParticipant .inCallParticipantNameDiv.short {
	width: 90px;
	float: left;
}


/* Bootstrap overrides */
.dl-horizontal dt {
	float: left;
	width: 100px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 120px;
}

.participant-wrapper {
	position: absolute;
/*    
	width: 50%;
	height: 50%
*/
}

.local-participant-wrapper {
	position: absolute;
    z-index: 200;
/*	width: 25%;
	height: 25%;
    left: 75%;
    top: 75%;
    visibility: visible;
*/    


}

.remotevideo-default {
	visibility: visible;
	width: 100%;
	height: 100%
}

.localvideo-default {
	width: 100%;
	height: 100%
}

.sharevideo-wrapper {
	position: absolute;
/*
    display: none;
    width: 75%;
	height: 75%;
	top: 10%;
	left: 0%
*/    
}

.participant-title {
	z-index: 100;
	color: white;
	font-size: 16px;
	position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0px;
    left:25%;
    right:25%;
}

.local-participant-title {
    z-index: 300;
    color: white;
    font-size: 16px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0px;
    left:25%;
    right:25%;
}


.fill-parent {
	width: 100%;
	height: 100%;
}

.remotevideo-with-share {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 75%;
}

.transparent-strip {
	position: absolute;
	left: 22%;
	right: 22%;
	bottom: 5%;
	background-color: rgba(100, 100, 100, 0.5);
	height: 40px;
	visibility: hidden;
}

.local-transparent-strip {
	position: absolute;
	left: 22%;
	right: 22%;
	bottom: 5%;
	background-color: rgba(100, 100, 100, 0.5);
	height: 40px;
}

.hide{
    display: none;
}
/*Media queries to adjust names inside the video*/
@media only screen and (min-width:1200px){	
	.participant-title {font-size: 14px;word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 14px;line-height:normal;}	
}
@media only screen and (min-width:992px) and (max-width:1199px){	
	.participant-title {font-size: 40%;word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 40%;line-height:normal;}	
}
@media only screen and (max-width:991px){
	.participant-title {font-size: 25%; word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 25%;line-height:normal;}
}
@media only screen and (max-height:600px){	
	.participant-title {font-size: 14px;word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 14px;line-height:normal;}
}
@media only screen and (max-height:500px){	
	.participant-title {font-size: 40%;word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 40%;line-height:normal;}	
}
@media only screen and (max-height:400px){
	.participant-title {font-size: 25%; word-break: break-word;line-height:normal;}
	.local-participant-title {font-size: 25%;line-height:normal;}
}
/*precallTesting-webrtc-wrapper styles starts */
.pre-call-testing-wrapper{
	height:80vh;
	background-color: #F1F4F7;
}
.connectivity-test-indicator{
	height: 40px;
	background-color: #003B71;
	color: #FFFFFF;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	user-select: none;
}
.connectivity-inprogress{
	display: inline;
	font-weight: bold;
}
.connectivity-weak{
	display: none;
}
.connectivity-strong{
	display: none;
}
.strong-signal{
	background: url(../../../images/global/strong.png) no-repeat center center;
	display: inline-block;
	height: 12px;
	width: 72px;
	vertical-align: middle;
	margin-left: 25px;
}
.weak-signal{
	background: url(../../../images/global/weak.png) no-repeat center center;
	display: inline-block;
	height: 12px;
	width: 72px;
	vertical-align: middle;
	margin-left: 25px;
}
.pre-call-testing-header{
	position: relative;
	display: flex;
}
.pre-call-testing-header>.help-link{
	font-weight: bold;
	color: #006BA6;
	font-size: 15px;
	top: 0px;
	right: 0px;
	margin-top: 22px;
    margin-right: 19px;
	position: absolute;
}
.pre-call-testing-header>.tpmg-logo{
	margin:22px 0px 21px 37px;
	width: 500px;
	display: flex;
}
.pre-call-testing-header>.tpmg-logo>img{
	height:100px;
	width:100px;
}
.tpmg-logo-title{
	text-align:center;
}
.precall-logo-text{
	margin: 20px 0px 0px 20px;
	user-select: none;
	color: #333333;
}
.precall-logo-text>.precall-logo-vv-text{
    font-size: 30px;
    margin-bottom: 0px;
    padding: 8px 0px 3px 0px;
}
.precall-logo-text>.precall-logo-group-text{
	font-size: 15px;
}
.pre-call-test-container {
	display: flex;
	justify-content: center;
}
.mdo-app-message-container{
	width: 40%;
    display: none;
    margin: 35px auto;
}
.mdo-logo{
	background: url(../../../images/global/mdo-icon.png) no-repeat center center;
	display: inline-block;
	height: 74px;
	width: 74px;
	vertical-align: middle;
	margin-right: 25px;
}
.ios-appstore{
	background: url(../../../images/global/appstore.png) no-repeat center center;
	display: inline-block;
	height: 36px;
	width: 129px;
	vertical-align: middle;
	margin-right: 20px;
	background-size: cover;
    border-radius: 3px;
}
.android-playstore{
	background: url(../../../images/global/playstore.png) no-repeat center center;
	display: inline-block;
	height: 36px;
	width: 129px;
	vertical-align: middle;
	background-size: cover;
    border-radius: 3px;
}
.mdo-message{
	color: #2D2D2D;
	font-size: 15px;
}
.pre-call-test-container>div.video-visit-peripherals-block {
	color: white;
	width: 310px;
	margin: 63px 90px 0px 0px;
}
.no-margin-top{
	margin-top: 0px!important;
}
.video-visit-peripherals-block>div.select{
    margin: 35px 0px 0px 10px;
    position:relative;
}
.video-visit-peripherals-block>div.select>select{
    color: #333333;
    font-size: 14px;
    border: 1px solid #003B71;
    border-radius: 0px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding-top:0px;
    width:300px;
    padding-right:10%;
    margin-bottom: 0px;
    height: 33px;
}
.video-visit-peripherals-block>div.select>label{
    margin: 0px;
    text-indent:6px;
    color: #505254!important;
}
.video-visit-peripherals-block>div.select>span.caret{
	display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #0066A5;
    position: absolute;
    top: 34px;
    right: 4px;
    pointer-events: none;
}
.video-visit-peripherals-block>video{
	width: 366px;
	height: 275px;
}
.precall-test-button-container {
	display: flex;
	justify-content: center;
	margin-top: 59px;
}

.precall-test-button-container > button {
	margin: 0px 12px;
	text-align: center;
	height:30px;
	width:100px;
	background-color: #008921;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
}
.precall-test-button-container > .add-margin{
	margin-left:13px!important;
}
.music-button{
	padding: 5px 12px 5px 13px; 
	color: #FFFFFF;
	background-color: #677083;
	margin: 8px 0px 0px 10px;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
}
.music-button .play-icon{
	background: url(../../../images/global/play.png);
	display: inline-block;
	height: 13px;
	width: 11px;
	vertical-align: middle;
    margin-right: 7px;
}
.music-button .pause-icon{
	background: url(../../../images/global/pause.png);
	display: inline-block;
	height: 13px;
	width: 11px;
	vertical-align: middle;
    margin-right: 7px;
}
.mic-nodes-container{
	width: 300px;
	margin: 8px 0px 0px 10px;
}
.mic-nodes-container .background-nodes{
	display: flex;
}
/*precallTesting-webrtc-wrapper styles ends */

/*Provider precallTesting-webrtc-wrapper styles starts */
.provider-pre-call-testing-wrapper{
	height:100vh;
}
.provider-pre-call-testing-wrapper>.tpmg-logo{
	text-align:center;
	margin:50px 0px 0px 0px;
}
.provider-pre-call-testing-wrapper>.tpmg-logo>img{
	height:100px;
	width:100px;
}

.provider-pre-call-testing-wrapper>.tpmg-logo>.precall-logo-vv-text{
	color: #0066A5;
    font-size: 30px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
    user-select:none;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 350px;
	background-color: white;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>div.video-visit-peripherals-block {
	color: white;
	width: 300px;
	height: 220px;
	margin: 15px;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>.video-visit-peripherals-block>div.select{
    margin: 10px 0px 0px 10px;
    position:relative;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>.video-visit-peripherals-block>div.select>select{
    color: #0066A5;
    font-size: 14px;
    border: 1px solid #0066A5;
    border-radius: 0px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    padding-top:0px;
    width:280px;
    padding-right:10%;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>.video-visit-peripherals-block>div.select>label{
    margin: 0px;
    text-indent:10px;
    color: #000000!important;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>.video-visit-peripherals-block>div.select>span.caret{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #0066A5;
    position: absolute;
    top: 34px;
    right: 4px;
    pointer-events: none;
}
.provider-pre-call-testing-wrapper>.pre-call-test-container>.video-visit-peripherals-block>video{
	width: 250px;
	height: 250px;
}
.provider-pre-call-testing-wrapper>.precall-test-button-container {
	display: flex;
	justify-content: center;
}

.provider-pre-call-testing-wrapper>.precall-test-button-container > button {
	margin: 10px;
	text-align: center;
	height:30px;
	width:100px;
	background-color: #018921;
	font-size: 16px;
	color: #FFFFFF;
	border: none;
}

/*Provider precallTesting-webrtc-wrapper styles ends */
