.logo-only-wrapper>.tpmg-logo{
    text-align:center;
    margin:0px 0px 0px 0px;
}
.logo-only-wrapper>.tpmg-logo>img{
    height:80px;
    width:80px;
}
.tpmg-logo-title{
    text-align:center;
}
.logo-only-vv-text{
    color: #0066A5;
    font-size: 30px;
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
}

.splash {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 50px 0;
}

/* Badge related styles */
.superscript {
    font-size: xx-small;
    vertical-align: top;
    display: inline;
}

.overlap-to-left {
    margin-left: -2px;
}

.subscript {
    font-size: xx-small;
    vertical-align: bottom;
}

.small-font {
    font-size: small;
}

/* End Badge related styles */
#errorWrapper {
    z-index: 1000;
}

#pluginContainer {
    /*     width: 100%;
    min-width: 800px;   */
    margin: 0;
    padding: 0;
    min-height: 1px;
}
#btnContainer{
    display: inline-block;
    width: 65px;
    height: 568px;
    background-color: #323232;
    overflow: auto;
    padding-top: 30px;
}
#btnContainer.vidyo-webrtc-btn-container{
    padding-top: 0px;
    width: 80px;
}
#pluginContainer.fullscreen {
    width: auto;
    min-width: 800px;
    margin: 0;
    padding: 0;
    min-height: 1px;
}

#inCallContainer {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    min-width: 200px;
    /*width: 1122px;    */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    width: auto;
}

#inCallContainer.fullscreen {
    width:auto;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    min-height: 675px;
}

#vidyoPlugin {
/*    min-width: 1px;
    min-height: 1px;
    width: 1px;
    height: 1px;    */
    z-index: -1;
}

#displayDevices #vidyoPlugin{
    height: 200px !important;
}
#displayDevices #inCallContainer{
    margin: 0 auto;
    border: none;
}

#inCallParticipantsPanel {
    /*float: left;*/
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #E5E5E5;
    vertical-align: top;
    float: left;
    /*display: inline-block;*/
}

#inCallParticipantsPanel.fullscreen {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 0px;
}

#inCallParticipantsPanel .nav-header {
    color: orangered;
    text-transform: none;
    font-size: small;
}

#inCallParticipantsPanel hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #f5f5f5;
}

#inCallButtonPanel {
    width: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#inCallPluginAndControlsWrap {
    vertical-align: top;
    /*float: right;
    min-width: 800px;
    width: 800px;*/
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#inCallPluginAndControlsWrap.fullscreen {
    /*display: inherit;*/
    position: absolute;
    top: 10px;
    right: 20px;
    left: 300px;
    bottom: 20px;
    padding-bottom: 60px;
    width:auto;
}

#inCallPluginAndControlsWrap.fullscreenNoParticipantPanel {
    /*display: inherit;*/
    position: absolute;
    top: 10px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    padding-bottom: 60px;
    width: auto;
}

#inCallLocalShareList {
    height: auto;
    min-height: 100px;
    width: 238px;
    position: fixed;
    right: 10px;
    left: auto;
    top: 86px;
    margin-top: 0;
    padding: 10px;
    overflow: auto;
    border-radius: 0;
    overflow: auto;
    border-left: 1px solid #3F3D3D;
}
#inCallLocalShareList.vidyo-webrtc-incall-local-share-list{
    width: 168px;
}

#inCallLocalShareList:after{
    /*will uncomment after david confirmation*/
    /*content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #3F3D3D;
    top: 261px;
    left: 0;
    z-index: 9;
    visibility: visible;*/
}

.vidyo-webrtc-incall-local-share-list:after{
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #3F3D3D;
    top: 80px;
    left: 0;
    z-index: 9;
    visibility: visible;
}
.member-btn-container #inCallLocalShareList{
    width: 218px;
    position: absolute;
}
.member-btn-container #inCallLocalShareList:after{
    top: 110px;
}
.provider-btn-container #inCallLocalShareList, .video-details #inCallLocalShareList{
    width:87%;
    position: absolute;
    top:0px;
    left:0px;
}
.provider-btn-container #inCallLocalShareList:after{
    top: 110px;
}
.inCallSelectedShare {
    background-color: beige;
}

.inCallSelectedLocalShare {
    background-color: beige;
}

.inCallLocalShareUnshare {
    background-color: red;
}

#inCallParticipantHeaderName {
    color: orangered;
    text-transform: none;
    font-size: small;
    overflow:hidden;
    text-overflow:ellipsis;
    font-variant:small-caps;
    white-space: nowrap;
}

#inCallParticipantsList .inCallParticipant {
    padding: 1px 2px;
    border: 0;
    vertical-align: middle;
    margin: 2px -15px;
    white-space: nowrap;
    color: maroon;
    height: 25px;
}

#inCallParticipantsList .inCallParticipant:hover {
    padding: 0px 2px;
    border: 0px solid #C3C3C3;

    border-top: 1px solid #CECECE;
    border-bottom: 1px solid #D5D5D5;

/*    vertical-align: middle;
    margin: 2px -15px;
*/    background-color: #D1D1D1;
    /*height: 22px;*/
}

#inCallParticipantsList .inCallParticipantHeader {
    border-bottom: 2px solid #D0D0D0;
    overflow: hidden;
    padding: 0px 8px;
}

#inCallChatContainer {
    position: relative;
    margin-top: 5px;
    height: 215px;
}

#inCallChatContainer.fullscreen {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 215px;
}

#inCallChatContainer.minimized {
    height: 28px;
}

#inCallChatPanes.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    height: 135px;
}

.nav-tabs {
    margin-bottom: 0;
}

#inCallChatTabs .notify {
    background-color: orange;
}

#inCallChatPanes ul {
    list-style-type: none;
}

#inCallChatPanes ul>li {
    margin-bottom: 5px;
}

#inCallChatPanes .chatTime {
    display: inline-block;
    width: 100px;
    color: #A9A9A9;
    text-align: left;
    vertical-align: top;
}

#inCallChatPanes .chatName {
    display: inline-block;
    width: 140px;
    color: blue;
    text-align: right;
    vertical-align: top;
    overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

#inCallChatPanes .chatName.chatSelf {
     color: #898989;
}

#inCallChatPanes .chatMessage {
    display: inline-block;
    width: 455px;
    overflow: auto;
    text-align: left;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
}

.inCallChatLink {
    overflow: hidden;
    text-overflow: ellipsis;
}

.inCallParticipant .inCallChatLink:hover {
    text-decoration: none;
}

.inCallParticipant > .btn-toolbar {
    margin: 0;
    z-index: 100;
    vertical-align: middle;
    display: inline-block;
    padding: 0px;
    border: 0;
}

.inCallParticipant .inCallParticipantNameDiv {
    display: inline-block;
    width: 200px;
    z-index: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inCallParticipant .inCallParticipantNameDiv.short {
    width: 90px;
    float: left;
}

#inCallParticipantUserSearchContainer {
    height: 40px;
    border: 0;
    vertical-align: middle;
    margin: 5px -15px;
    white-space: nowrap;
}

/* Pre-call styles */
#preCallJoinMyRoomButton {
    margin-left: 10px;
}

#preCallUserInfo {
    padding-top: 0;
    margin-top: 0;
}

#preCallSearchNavigationList {
    overflow: auto;
    height: 100%;
    background-color: #F1F1F1;
    margin-top: 0;
    padding-top: 10px;
    width: 400px;
    max-height: 550px;
    padding-bottom: 70px;
}

#preCallSearchNavigationList .user {
    padding: 5px 8px;
    border: 0;
    vertical-align: middle;
    margin: 2px 10px;
    white-space: nowrap;
    height: 20px;
}
#preCallSearchNavigationList .btn-toolbar {
    padding: 0px;
    border: 0;
    vertical-align: middle;
    margin: 0;
    /*display: inline-block;*/
}

#preCallSearchNavigationList .userName {
    padding: 0px;
    border: 0;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 330px;
}

#preCallSearchNavigationList .user:hover {
    padding: 4px 8px;
    border: 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #E5E5E5;
    vertical-align: middle;
    margin: 2px 10px;
    background-color: #E1E1E1;
}

#preCallSearchNavigationList form {
    margin-bottom: 0px;
}

#preCallContainer {
    margin-top: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-height: 700px;
}

#preCallSearchProgressBarContainer {
    padding: 10px;
}

/* Configuration styles */
#configurationWrap {
    width: 178px;
    position: fixed;
    right: 0;
    left: auto;
    top: 86px;
    margin-top: 0px;
    padding: 10px 5px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    border-left: 1px solid #3F3D3D;
    z-index: 999;
    max-height: 346px;
}

#configurationWrap:after{
    /*will uncomment after confirmation from david*/
    /*content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #3F3D3D;
    top: 36px;
    left: 0;
    z-index: 9;
    visibility: visible;*/
}
.vidyo-webrtc-configuration-wrap:after, #configurationWrap:after{
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #3F3D3D;
    top: 22px;
    left: 0;
    z-index: 9;
    visibility: visible;
}

#configurationWrap .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

#configurationWrap h3{
    font-weight: normal;
    line-height: 1em;
}

#configurationWrap .control-group{
    padding-top: 5px;
    border-top: 1px solid #888888;
}

#configurationWrap label.control-label{
    font-weight: bold;
}

#configurationWrap input[type="radio"]{
    margin-right: 10px;
}

#configurationWrap label{
    word-wrap: break-word;
    white-space: pre-line;
    word-break: break-word;
}

.inCallDeviceMenu {
    right: 0;
    left: auto;
    width: 200px;
}

.evenSmaller {
    padding-left: 6px !important;
    padding-right: 6px !important;
}
/* Bootstrap overrides */
.dl-horizontal dt{float:left;width:100px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.dl-horizontal dd{margin-left:120px;}
#configurationCross{margin-right:10px;}
/*DE7858 Fix*/
.ie11 #configurationWrap {
    width:168px;
    right:10px;
}
#configurationWrap.vidyo-webrtc-configuration-wrap{
    width:168px;
}
.provider-btn-container #configurationWrap,  .video-details #configurationWrap {
    width:87%;
    position: absolute;
    top:0px;
    left:0px;
}
.member-btn-container #configurationWrap {
    position: absolute;
}
/*DE13936*/
.center-fixed-positioned-div{
    margin: auto !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    height:174px;
}
.center-fixed-positioned-div .modal-header{
    height: 20px;
}
.center-fixed-positioned-div .modal-body{
    height:101px;
}
.center-fixed-positioned-div .modal-body #plugin_upgrade_message{
    line-height:1em;
    font-size:14px;
}
.center-fixed-positioned-div .modal-body .dialog-content-question #plugin_upgrade_message{
    font-weight:bold;
    margin: 10px 0px;
}
/*DE13936*/