@CHARSET "ISO-8859-1";

#videoVisitHomeContainer{
	float:left;
	font-size: 12px;
	margin-left: 22px;
	padding: 10px 0;
	width: 762px;
	height: auto;
	display: inline;
/* 	border: 1px solid red; */
}

#videoVisitHomeContainer h2{
	color: #AC5A41;
	font-size: 36px;
	font-family: Arial;
	font-style: regular;
	margin:0;
}

#videoVisitHomeContainer h4{
	color: #AC5A41;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
}

#videoVisitHomeContainer h3{
	color: #AC5A41;
	font-size: 18px;
	font-family: Arial;
	font-style: regular;
	margin:6px 0 0;	
}

#videoVisitHomeContainer #mainHeader{
	float: left;
	padding: 0;
	margin: 45px 0 0 40px;
	width: 720px;
}

#videoVisitHomeContainer #mainContent{
	float: left;
	padding: 0;
	margin: 6px 0 6px 40px;	
	width: 720px;
}

#videoWrapper{
	width: auto;
}

#videoContainer{
	background: url("../images/image_landing_page.png") no-repeat scroll center transparent;
	float: left;
	font-size:11 px;
	height: 355px;
	margin: 0px;
	padding-left: 1px;
	width: 700px;
/*	border: 1px solid blue;					 */
}

#navContent{
	width: 700px;
	margin: 30px 0 0 0px;
/* 	background: none repeat scroll 0 0 #FFFFFF; */
/* 	border: none; */
	float: left;
	position: relative;
	height: auto;
	border-bottom: 1px solid #A8A8A8;
}

.landingHalf{
	display: inline;
	float: left;
}

.leftNavContent{
	width: 350 px;
	position: relative;
	margin: 0 10px 0 0;
	height: 
}

.rightNavContent{
	float: left;
	width: 350 px;
	position: relative;
	margin: 0 10px 0 0;
	height:
}

#lastContent{
	width: 700px;
	margin: 30px 0 0 0px;
	border: none;
	float: left;
	position: relative;
	height: auto;
	
/*  	border: 1px solid blue; */
}

.icon{
	width: 100px;
	height: 100px;
}

div#getPreparedIcon{
	background: url("../images/icon_checklist.png") no-repeat scroll top center transparent;
	float: left;
/* 	height:50px; */
	width:60px;
}

div#joinVideoVisit{
	background: url("../images/icon_devices.png") no-repeat scroll top center transparent;
	float: left;
}

#videoVisitHomeContainer .landingHalf p{
	margin-bottom: 5px;
}

#videoVisitHomeContainer .leftNavContent{
	
}

#videoVisitHomeContainer .rightNavContent{
	margin-left: 50px;
}

#videoVisitHomeContainer .landingHalf{
	width: 312px;
	height: 135px;
}

#videoVisitHomeContainer .buttons{
/* 	text-align: center; */
	margin-bottom: 10px;
}

#videoVisitHomeContainer .button{
	
}

#videoVisitHomeContainer .landingTwoThird{
	display:inline;
	float: left;
	width: 230px;
	height: 135px;
	padding: 5px 2px 0 0;
}

.landingTwoThird.leftNav{
	position: relative;
}

.landingTwoThird.centerNav{
	position: relative;
	float: left;
	border-left: 1px solid #A8A8A8;
}

.landingTwoThird.rightNav{
	position: relative;
	float: left;
	border-left: 1px solid #A8A8A8;
}

.landingTwoThird a{
	
}