@CHARSET "ISO-8859-1";

.videoVisitContainer{
	float:left;
	font-size: 12px;
	/*margin-left: 22px;*/
	padding: 10px 0;
	width: 762px;
	height: auto;
	display: inline;
/* 	border: 1px solid red; */
}

.videoVisitContainer h2{
	color: #AC5A41;
	font-size: 36px;
	font-family: Arial;
	font-style: regular;
	margin:0;
}

.videoVisitContainer h3{
	color: #AC5A41;
	font-size: 18px;
	font-family: Arial;
	font-style: regular;
	margin: 6px 0 0;
	padding: 0;
}

.videoVisitContainer h4{
	color: #AC5A41;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	margin:0;
}

.videoVisitContainer p{
	line-height:17px;
	font-size: 14px;
	font-family: Arial;
	font-style: regular;
	color: #333333;
}

.videoVisitContainer .subHead{
	color: #333333;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 0;
}

.videoVisitContainer ul{

}

.videoVisitContainer ul li{
	list-style-type: disc;
	margin-left: 30px;
/* 	color: #357895; */
}

.landingHalf ul li{
	color: #357895;
}

.videoVisitContainer #mainHeader{
	float: left;
	padding: 0;
	margin: 0 0 0 40px;
	width: 720px;
}

.videoVisitContainer #mainContent{
	float: left;
	padding: 0;
	margin: 6px 0 6px 40px;	
	width: 720px;
}

#videoWrapper{
	width: auto;
}

#videoContainer{
/* 	background: url("../../../images/mdo/image_landing_page.png") no-repeat scroll center transparent; */
	float: left;
	font-size: 11px;
	height: 329px;
	margin: 0px;
	padding-left: 1px;
	width: 100%;
	border: 1px solid #CCCCCC;
}

#navContent{
	width: auto;
	margin: 15px 0 0;
	/*padding-bottom: 10px;*/
	float: left;
	position: relative;
	height: auto;
	border-bottom: 1px solid #CCCCCC;
}

.videoVisitContainer .row{
	display:inline;
	float: left;
	width: 100%;
	height: auto;
	padding: 0 2px 0 0;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.row p{
	margin: 10px 0 10px;
}

.row a{
	font-size: 12px;
	font-family: Arial;
	font-style: regular;
	color: #4D8993;
}

.videoVisitContainer .innerNav{
/* 	margin-left: 12px; */
}

.landingHalf{
	display: inline;
    float: left;
    width: 43%;
    height: auto;
    padding: 5px 5px 0;
}

.landingHalf.iconpromo1{
}

.landingHalf.iconpromo2{
	margin-left: 55px;
}

.icon{
	width: 50px;
	height: 100px;
	margin-right: 12px;
}

.landingHalf .icon{
	float:left;
}

.iconpromo1{
	width: 350 px;
	position: relative;
	margin: 0 10px 0 0;
	height: 
}

.iconpromo2{
	float: left;
	width: 350 px;
	position: relative;
	margin: 0 10px 0 0;
	height:
}

div#iconpromo1{
/*  background: url("../../../images/mdo/icon_checklist.png") no-repeat scroll top center transparent; */
}

div#iconpromo2{
/* 	background: url("../../../images/mdo/icon_devices.png") no-repeat scroll top center transparent; */
}

.videoVisitContainer .landingHalf p{
	margin-bottom: 6px;
}

.videoVisitContainer .buttons{
	margin-bottom: 10px;
	margin-top: 6px;
}

.videoVisitContainer .button{
	padding: 4px 10px 3px 7px;
	background: none repeat scroll 0 0 #4D8993;
	color: #FFFFFF;
	font-size: 15px;
	font-family: Arial;
	font-style: regular;
}

#lastContent{
	width: auto;
	margin: 15px 0 0;
	border: none;
	float: left;
	position: relative;
	height: auto;
}

.threeColumns{
	border-left: 1px solid #CCCCCC;
    float: left;
    width: 30%;
    height: 140px;
    border-left: 1px solid #CCCCCC;
    margin: 0 0 20px;
    padding: 5px 5px 0;
}

.threeColumns.promo1{
	border: none;
}

/* ******************************* Help Page ******************************* */
.videoVisitContainer #videoVisitHelpPageContents{

}

#videoVisitHelpPageContents #helpNavContents{
	width: 700px;
	margin: 30px 0 0;
	padding-bottom: 40px;
	float: left;
	position: relative;
	height: auto;
	border-bottom: 1px solid #CCCCCC;
}

#videoVisitHelpPageContents #helpLastContents{
	width: 700px;
	margin: 40px 0 0;
	border: none;
	float: left;
	position: relative;
	height: auto;
}

#videoVisitHelpPageContents #helpLastContents h4{
	margin-bottom:
}

#videoVisitHelpPageContents .rightNavContent{
	border-left: 1px solid #CCCCCC;
	margin-left: 25px;
	padding-left: 40px;
}
