<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Video Visits Member</display-name>

	<!-- Log4jConfigListener -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>file:/usr/local/middleware/tcservervv/conf/appconf/vvm/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jExposeWebAppRoot</param-name>
		<param-value>false</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> 
			/WEB-INF/action-servlet.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>SSOSessionFilter</filter-name>
		<filter-class>org.kp.tpmg.ttg.webcare.videovisits.member.web.filter.SSOSessionFilter</filter-class>

		<init-param>
			<param-name>excludeURLs</param-name>
			<param-value>ssoPreLogin.json,ssoSubmitLogin.json,submitLogin.json,createSetupWizardMeeting.json,providerRunningLateInfo.json,meetingDetails.json,logVendorMeetingEvents.json,setKPHCConferenceStatus.json,logout.json,isMeetingHashValid.json,caregiverJoinMeeting.json</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>SSOSessionFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>

	<!-- Main Dispatcher Controller -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>emailAction</servlet-name>
		<servlet-class>org.kp.tpmg.ttg.webcare.videovisits.member.web.servlet.EmailActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>emailAction</servlet-name>
		<url-pattern>/emailAction.png</url-pattern>
	</servlet-mapping>

</web-app>
