.guest-main-content {
    padding: 5.25rem 2rem .625rem;

    .error-text {
        background-color: #C22507;
        color: #FFFFFF;
        margin: -1.2rem -2rem 1rem -2rem;
        display: flex;

        p {
            margin: 0.5rem 0.5rem 0.5rem 0;
            text-align: center;
        }
    }

    .mobile-help-link {
        display: none;
    }

    .mobile-logo-container {
        display: none;
        margin-bottom: 2rem;

        .mobile-tpmg-logo {
            background: url('../../assets/TPMG.svg') no-repeat;
            height: 5.625rem;
            width: 5.625rem;
            margin: 0 auto;
        }

        .header {
            font-size: 2rem;
            color: #203864;
            text-align: center;
            margin: 0 0 0.5rem;
        }
    }

    .guest-form-content {
        height: 100%;



        .row {

            .login-submit {
                background: #006ba6;
                cursor: pointer;
                color: #FFF;
                height: calc(1.5em + .60rem + 2px);
                width: 7rem;
            }

            .login-submit:disabled {
                pointer-events: none;
            }

            .member-head-msg {
                font-family: Arial, sans-serif;
                font-size: 1.75rem;
                font-weight: 700;
            }

            p {
                font-size: 0.75rem;
            }

            .textindent {
                text-indent: 0.2rem;
            }

            .guest-login-error {
                word-break: break-all;

                text-align: left;
                font-weight: bold;
                font-size: 12px;
                color: #ac5a41;

                .error {
                    width: 17rem;
                }

                .temp-error {
                    width: 18rem;
                }
            }
        }

        .guest-form {
            .sub-text {
                color: #333333;
                font-size: 1.2rem;
            }

            .notice {
                color: #333333;
                font-size: 0.825rem;
                text-align: center;
                margin: 1rem 5rem 2rem;
            }

            .login-form {
                margin: 0 auto;

                .form-group {
                    .label {
                        font-size: .8125rem;
                        font-weight: bold;
                    }

                    .mobile-input {
                        border: 0;
                        border-bottom: solid 1px #C8C7C7;
                    }
                }

                .mobile-submit {
                    text-align: center;
                }
            }

        }

    }

    .mobile-footer {
        background-color: #F2F7FB;
        padding: 1rem;
        color: #333333;
        border-top: solid 1px #C6CDD2;
        margin: 0 -2rem -2rem -2rem;
        display: none;

        .secondary {
            font-size: 0.7rem;
        }
    }
}

.form-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;
}

/* Mobile Styles to  Tablet Styles */
@media only screen and (max-width: 960px) {
    .guest-main-content {
        margin: 0.2rem 1rem;
        padding: 1rem;
        height: calc(81vh - 105px);

        .guest-form-content {


            .guest-form {
                margin: 0 auto;
                width: 80%;

                .notice {
                    display: none;
                }
            }
        }

        .mobile-help-link {
            display: flex;
        }

        .help-link {
            color: #006ba6;
            outline: none;
        }

        .error-text {
            display: flex;
        }

        .mobile-logo-container {
            display: block;
        }

        .mobile-footer {
            display: block;
        }
    }

    .form-footer {
        display: none;
    }
}

/* Mobile Styles */
@media only screen and (min-width: 330px) and (max-width: 660px) and (orientation: portrait) {
    .guest-main-content {
        height: calc(74vh - 105px);
    }
}

/* Tablet Styles */
@media only screen and (min-width: 661px) and (max-width: 959px) and (orientation: portrait) {
    .guest-main-content {
        height: calc(81vh - 105px);

        .guest-form-content {
            .guest-form {
                margin: 0 auto;
                width: 65%;
            }
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 960px) {
    .guest-main-content {
        padding: 0;

        .error-text {
            margin: 8rem auto -8rem auto;
            width: 33%;
        }

        .guest-form-content {
            margin-bottom: 10rem;
            margin-top: 10rem;

            .guest-form {
                margin: 0 auto;
                width: 35%;
            }
        }
    }
}