.error{
	width: 250px;
	height: 100px;
}
.hide-me{
	display: none;
}
input#ssologin{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.sso-login{
	font-size: 14px;
	margin-bottom: 15px;
	padding-left: 38px;
	color: #333333;
}
.sso-page-title{
	font-size: 28px;
	margin-top: 116px;
	margin-bottom: 54px;
	color: #333333;
	font-weight: bold;
	padding-left: 38px;
}
.sso-form-block{	
	margin-left: 0;
	border: 1px border #333333;
	padding-left: 38px;
	list-style-type:none;
}
#temp-access{
	font-size: 14px;
	text-decoration: underline;
	color: #006ba6;
	margin-left: 38px;
}
.sso-form-block input{
	width: 265px;
	height: 30px;
	padding: 0 0 0 5px;
	font-size: 14px;
	color: #666666;
	margin-bottom: 13px;
}
.form-block .birth_month{
	width: 55px;
}
.form-block .birth_year{
	width: 80px;
}
.sso-submit-block{
	padding-left: 38px;
	margin-left: 0;
	font-size:14px;
	color: #333333;	
}
.sso-submit-block .button{
	font-size: 20px;
	width: 158px;
	height: 35px;
	float: right;
	cursor: default;
	color: #FFFFFF;
	background-color: #006ba6;
	margin: 0 0 36px 0;
	padding: 0;
}
.sso-submit-block-forgot{
	margin-bottom:7px;
	padding-left: 38px;
	margin-left: 0;
	font-size:14px;
	color: #333333;	
}

div.sso-submit-block-forgot p{
	margin: 0 0 0 0;
	line-height: 1.0em;
}

#ssoLoginError p{
	margin-left:38px;
	font-size: 12px;
	display:none;
	margin-bottom: 20px;
	display: none;
}

#globalError {
	width:300px;
	height:35px;
	color:#ac5a41;
	font-weight:bold;
	margin-top: 28px;
	color: rgb(172, 90, 65);
}