.my-meetings .seperator{
	border-bottom: 1px solid black;
	background-color: #f6f8fa;
	padding: 5px;
}
.my-meetings .seperator{
	display: flex;
}
.my-meetings .seperator:first-child{
	border-top: 1px solid black;
}
.my-meetings .seperator div{
	width: 25%;
	padding: 5px;
}
.my-meetings .nomeetingsmsg{
	text-align: center;
}