.pre-call-check-page{
	.pre-call-check-content{
		background: #F0F4F7;
		height: 100vh;
		padding-top: 9rem;
		.pre-call-check{
			margin: 6rem auto;
			min-height: 1rem;
			.options{
				.dropdown{
					color: #333333;
					font-size: 0.875rem;
					border: 1px solid #003B71;
					margin-bottom: 3rem;
					background: #FFFFFF;
					.btn{
						text-align: left;
					}
				}
			}
		}
	}
}