.pre-call-check-page{
	.pre-call-check-content{
		background: #F0F4F7;
		height: calc(100vh - 9rem);
		margin-top: 9rem;
		.pre-call-check{
			margin: 0 auto;
			min-height: 1rem;
			width: 75%;
			padding-top: 3rem;
			.options{
				.dropdown{
					color: #333333;
					font-size: 0.875rem;
					border: 1px solid #003B71;
					margin-bottom: 3rem;
					background: #FFFFFF;
					.btn{
						text-align: left;
						overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					}
				}
			}
			.video-preview{
				margin-left: auto;
				video{
					width: 100%;
				}
			}
			.button-controls{
				.btn{
					background: #006ba6;
					width: 7rem;
					color: #FFF;
				}
			}
		}
	}
}